@{
    MaterialSQLindex result = Model;
    string path = "/UploadedFiles/Photo/";
}
@{
    ViewBag.Title = "Creatematerial";
    ViewBag.Title2 = "Editmaterial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    bool TypePage = true;
    string dis = "";
    //controll class disabled by string
    if (result.MaterialSQLdataselect.item_id != 0)
    {
        TypePage = false;
        dis = "disabled";
    }

}

@*@{ if( result.MaterialSQLdataselect.item_id != 0)
                {
                    <style>
                        .form-control
                        {
                            background-color:red;

                        }
                    </style>
                }

    }*@

<style>
    #Msg_ajaxloader {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba( 255, 255, 255,0.5 ) url('/img/loadingclock.gif') 50% 50% no-repeat;
    }

    #content_ajaxloader {
        position: fixed;
        z-index: 1 !important;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba( 255, 255, 255,0.5 ) url('/content/img/Quarter-Circle-Loading-Image-1.gif') 50% 50% no-repeat;
    }

    body:not(.menu-on-top).desktop-detected {
        min-height: 0px !important;
    }

    .desktop-detected .inbox-body .table-wrap {
        min-height: 770px !important;
    }

    .status .comments li {
        border-bottom: 1px solid rgba(0,0,0,0);
        display: block;
        padding: 15px 0 15px 40px;
        position: relative;
    }

    .classli:hover {
        background: #ddd;
        cursor: pointer;
    }

    label:hover {
        cursor: pointer;
    }

    .carousel-indicators li {
        border-color: #999;
        background-color: #ccc;
    }

    .carousel-indicators {
        position: absolute;
        bottom: 10px;
        left: 50%;
        z-index: 15;
        /* width: 60%; */
        margin-left: -30%;
        padding-left: 0;
        list-style: none;
        text-align: center;
    }

    .MessageCenter {
        padding: 12px 10px 8px 10px !important;
    }


    @@media (min-width: 1332px) {
        .col-lg-3 {
            width: 33.33%;
        }

        .col-lg-6 {
            width: 66.66%;
        }
    }

    @@media (min-width: 1500px) {
        .col-lg-3 {
            width: 25%;
        }

        .col-lg-6 {
            width: 50%;
        }
    }

    .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
    }

    .fix-iconsize {
        font-size: 40px;
        width: 40px;
        height: 40px;
        padding-top: 10px;
    }

    @@media (max-width: 769px) {
        .fix-iconsize {
            font-size: 40px;
            width: 40px;
            height: 40px;
            padding-top: 10px;
        }

        .home-title {
            display: none;
        }
    }

    .form-group {
        margin-top: 10px;
    }

    .fix-margintop {
        margin-bottom: 40px;
    }

    .form-horizontal .form-group {
        margin-left: 20px !important;
        margin-right: 0px !important;
    }

    .fix-flaticon {
        font-size: 10px;
    }

    input[type=text].invalid {
        /*box-sizing: border-box;*/
        border: 2px solid red;
        border-radius: 4px;
    }

    select.invalid {
        border: 2px solid red;
        border-radius: 4px;
    }

    input[type=text].valid {
        /*box-sizing: border-box;*/
        border: 2px solid #49C204;
        border-radius: 4px;
    }

    select.valid {
        border: 2px solid #49C204;
        border-radius: 4px;
    }
</style>

<input hidden id="item_id" value="@result.MaterialSQLdataselect.item_id" />

<div id="content" style="opacity: 1;background-color:white;min-height:82vh;">
    <div class="row margin-top-10 margin-left-10">
        <div class="row">
            <h3>
                <i class="fa fa-cube"></i> &nbsp;    <span style="color:forestgreen;" id="headermanu"> @(TypePage == true ? "เพิ่มวัสดุอุปกรณ์ใหม่" : "วัสดุอุปกรณ์")  </span>
                @if (TypePage == false)
                {<i class="fa fa-chevron-right"></i> <span style="color:blue;">รายละเอียดวัสดุ</span>
                    <span>@result.MaterialSQLdataselect.item_name - @result.MaterialSQLdataselect.item_name </span>
                }
                &nbsp;&nbsp;<a href="@Url.Action("Index", "Material")">Back</a>
            </h3>
        </div>
    </div>

    <div class="row margin-top-10">
        <form class="form-horizontal margin-top-10 padding-5" id="checkout-form">
            <div class="col-lg-8" id="horizonform">
                <style>
                    #horizonform {
                        border-style: ridge;
                        border-width: 2px;
                    }

                    #horizonform2 {
                        border-style: ridge;
                        border-width: 2px;
                    }

                    #hrw {
                        display: block;
                        border-bottom: 1px dashed
                    }
                </style>

                <style>
                    .ppd {
                        padding-right: 0;
                    }
                </style>
                <h3 id="hrw">วัสดุ</h3>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="item_no">รหัสวัสดุ<span style="color:red; ">*</span></label>
                    <div class="col-sm-4 ppd">
                        <input type="text" class="form-control required" @dis id="item_no" placeholder="ระบุ รหัสวัสดุ" value="@result.MaterialSQLdataselect.item_no" name="item_no" maxlength="10">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="item_name">ชื่อวัสดุ<span style="color:red; ">*</span></label>
                    <div class="col-sm-4 ppd">
                        <input type="text" class="form-control required" @ViewBag.dis id="item_name" placeholder="ระบุ ชื่อวัสดุ" value="@result.MaterialSQLdataselect.item_name" name="item_name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="group">กลุ่มวัสดุ<span style="color:red; ">*</span></label>
                    <div class="col-sm-4 ppd">
                        <select class="form-control required " @ViewBag.dis id="group" name="group" onchange="myselect(this)">
                            @if (TypePage == true)
                            {
                                <option disabled value="0" selected>เลือกกลุ่มวัสดุ</option>
                            }
                            @foreach (var item in result.GroupSQLlist)
                            {
                                <option value="@item.group_id" @(item.group_id == result.MaterialSQLdataselect.group_id ? "selected" : "")>@item.group_name</option>
                            }
                        </select>
                    </div>
                    <a href="javascript:void(0);" class="btn btn-default  bg-color-greenLight txt-color-white" style="margin-left:0" onclick="CreateAddPanel('#panel-div')"><i class="glyphicon glyphicon-plus "></i></a>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="category">ประเภทวัสดุ<span style="color:red; ">*</span></label>
                    <div class="col-sm-4 ppd">
                        <select class="form-control required" @ViewBag.dis id="category" name="category" onchange="console.log(document.getElementById('category').value + 'select category')">
                            <option disabled value="0" id="dontcate" selected>เลือกประเภทวัสดุ</option>
                            @foreach (var item in result.CategorySQLlist)
                            {
                                <option value="@item.category_id" style="display:none" id="@item.group_id" @(item.category_id == result.MaterialSQLdataselect.category_id ? "selected" : "")>@item.category_name</option>
                            }
                        </select>
                    </div>
                    <a href="javascript:void(0);" class="btn btn-default  bg-color-greenLight txt-color-white" style="margin-left:0" onclick="CreateAddPanelcate('#panel-div')"><i class=" glyphicon glyphicon-plus "></i></a>
                </div>

                @* partial *@
                <div class="cd-panel cd-panel--from-right js-cd-panel-main">
                    <div id="panel-div">
                    </div>
                </div>
                @* modal *@
                <div class="modal fade" id="Modal" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" style="z-index: 8001 !important;">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content" style="overflow: hidden;" id="Modal_Content">

                        </div>
                    </div>
                </div>
                @* confirm *@
                <div class="modal fade" id="Modalconfirm" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" style="z-index: 8002 !important;">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content" style="overflow: hidden;" id="Modal_Content_confirm">

                        </div>
                    </div>
                </div>

                <script>
                    function CreateAddPanel(id) {
                                 $('#content_ajaxloader').fadeIn();
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("_groupView", "Material")',
                                dataType: 'html',
                                data: {},
                                success: function (result) {
                                    $(id).html('');
                                    $('#panel-div').html(result);
                                    $('.cd-panel').addClass("cd-panel--is-visible"); //แสดงแถบ right Panel$('#Modal').modal('show');
                                    $('#content_ajaxloader').fadeOut();
                                }
                            });
                            }

                            function jaxloaderin() {
                                $('#content_ajaxloader').fadeIn();
                            }
                    function CreateAddPanelcate(id) {
                                 jaxloaderin();
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("_categoryView", "Material")',
                                dataType: 'html',
                                data: {},
                                success: function (result) {
                                    $('#panel-div').html('');
                                    $('#panel-div').html(result);
                                    $('.cd-panel').addClass("cd-panel--is-visible"); //แสดงแถบ right Panel$('#Modal').modal('show');
                                    $('#content_ajaxloader').fadeOut();
                                }
                            });
                    }


                </script>

                <script>
                    //document.addEventListener("DOMContentLoaded", function (event) {
                    //    var sc = document.getElementById("category");
                    //    var sg = document.getElementById("group").value;

                    //    getSelectedOptions(sc, sg)

                    //});

                    function myselect(th) {
                        console.log("select");
                        document.getElementById("category").options.selectedIndex = 0;
                        var sc = document.getElementById("category");
                        var sg = document.getElementById("group").value;

                        getSelectedOptions(sc, sg)
                        document.getElementById("dontcate").select = true;
                        document.getElementById("group").classList.add("valid");
                    }

                    function getSelectedOptions(select, option) {
                        var result = [];
                        var options = select.getElementsByTagName('option');
                        for (var i = 0; i < options.length; i++) {
                            options[i].style.display = "none";
                            for (var k = 0; k < select.length; k++) {
                                if (option == k && options[i].id == k) {
                                    console.log("option" + k)
                                    options[i].style.display = "block";
                                }
                            }
                        }
                    }
                </script>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="material_account">บัญชีวัสดุ<span style="color:red; ">*</span></label>
                    <div class="col-sm-4 ppd">

                        <select class="form-control required" @ViewBag.dis id="material_account" name="material_account">
                            @if (TypePage == true)
                            {
                                <option disabled value="0" selected>เลือกบัญชีวัสดุ</option>
                            }

                            @foreach (var item in result.Material_accSQLlist)
                            {
                                <option value="@item.material_acc_id" @(item.material_acc_id == result.MaterialSQLdataselect.material_acc_id ? "selected" : "")>@item.material_acc_name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="costing_method_material">วิธีคิดต้นทุนวัสดุ<span style="color:red; ">*</span></label>
                    <div class="col-sm-4 ppd">

                        <select class="form-control required" @ViewBag.dis id="costing_method_material" name="costing_method_material">
                            @if (TypePage == true)
                            {
                                <option disabled value="0" selected>เลือกวิธีคิดต้นทุนวัสดุ</option>
                            }
                            @foreach (var item in result.Costing_methodSQL_list)
                            {
                                <option value="@item.costing_method_id" @(item.costing_method_id == result.MaterialSQLdataselect.costing_method_id ? "selected" : "")>@item.costing_method_name</option>
                            }
                        </select>
                    </div>
                </div>
                <style>
                    select option[disabled]:first-child {
                        display: none;
                    }
                </style>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">

                            <label><input type="checkbox" @ViewBag.dis id="stock_count" name="stock_count" value="@result.MaterialSQLdataselect.stock_count" @(result.MaterialSQLdataselect.stock_count ? "checked" : "")> วัสดุนับสต๊อก</label>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">

                            <label><input type="checkbox" @ViewBag.dis id="overdraw_stock" name="overdraw_stock" value="@result.MaterialSQLdataselect.overdraw_stock" @(result.MaterialSQLdataselect.overdraw_stock ? "checked" : "")> ให้เบิกเกินสต๊อกได้</label>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">

                            <label><input type="checkbox" @ViewBag.dis id="status" name="status" value="@result.MaterialSQLdataselect.status" @(result.MaterialSQLdataselect.status ? "checked" : "")> ใช้งานวัสดุ</label>

                        </div>
                    </div>
                </div>




                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                        <div class="smart-form">
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" @ViewBag.dis id="expiry" name="request" placeholder="วันหมดอายุ" class="datepicker" data-dateformat='dd/mm/yy' value="@result.MaterialSQLdataselect.expiry">
                            </label>

                        </div>
                    </div>
                </div>





                <h3 id="hrw">รายละเอียดวัสดุเพิ่มเติม</h3>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="brand">ยี่ห้อ:</label>
                    <div class="col-sm-4">

                        <input type="text" @ViewBag.dis class="form-control" id="brand" placeholder="ระบุ ยี่ห้อ" value="@result.MaterialSQLdataselect.brand" name="brand">

                    </div>

                    <label class="control-label col-sm-2" for="version">รุ่น:</label>
                    <div class="col-sm-4">

                        <input type="text" @ViewBag.dis class="form-control" placeholder="ระบุ รุ่น" id="version" value="@result.MaterialSQLdataselect.version" name="version">


                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="color">สี:</label>
                    <div class="col-sm-4">

                        <input type="text" @ViewBag.dis class="form-control" id="color" placeholder="ระบุ สี" value="@result.MaterialSQLdataselect.color" name="color">

                    </div>
                    <label class="control-label col-sm-2" for="size">ขนาด:</label>
                    <div class="col-sm-4">

                        <input type="text" @ViewBag.dis class="form-control" id="size" placeholder="ระบุ ขนาด" value="@result.MaterialSQLdataselect.size" name="size">

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="description">ข้อมูลจำเพาะ:</label>
                    <div class="col-sm-10">

                        <textarea class="form-control" @ViewBag.dis rows="3" id="description" placeholder="ระบุข้อมูลจำเพาะ">@result.MaterialSQLdataselect.description</textarea>

                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div id="horizonform2">
                    <h3 class="margin-left-10" id="hrw">หน่วยวัสดุ</h3>
                    <div class="form-group">
                        <a href="javascript:void(0);" class="btn btn-success pull-right margin-right-15" style="margin-left:0" onclick="CreateAddPanelUom('#panel-div')">เพิ่มหน่วย</a>
                        @*<button class="btn btn-success pull-right margin-right-15" onclick="CreateAddPanelUom('#panel-div')">เพิ่มหน่วย</button>*@

                        <script>
                        function CreateAddPanelUom(id) {
                                 jaxloaderin();
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("_uomView", "Material")',
                                dataType: 'html',
                                data: {},
                                success: function (result) {
                                    $('#panel-div').html('');
                                    $('#panel-div').html(result);
                                    $('.cd-panel').addClass("cd-panel--is-visible"); //แสดงแถบ right Panel$('#Modal').modal('show');
                                    $('#content_ajaxloader').fadeOut();
                                }
                            });
                        }
                        </script>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="uom_in">หน่อยซื้อ<span style="color:red; ">*</span></label>
                        <div class="col-sm-8">

                            <select class="form-control" @ViewBag.dis id="uom_in" name="uom_in" onchange="uom_inchange()">
                                <option disabled value="0" selected>เลือกหน่วยซื้อ</option>
                                @foreach (var item in result.UomSQL_list)
                                {
                                    <option value="@item.uom_id" @(item.uom_id == result.MaterialSQLdataselect.uom_in ? "selected" : "")>@item.uom_name</option>
                                }
                            </select>

                        </div>
                    </div>
                    <script>
                        /////functionchangeuom
                        function uom_inchange() {
                            var uom_inchange = document.getElementById("uom_in");
                            var uon_in_select = uom_inchange.selectedIndex;
                            document.getElementById("qty_inshow").innerHTML = uom_inchange.options[uon_in_select].text;
                            console.log("หน่วยซื้อ " + uom_inchange.options[uon_in_select].text);
                            document.getElementById("uom_stock").selectedIndex = uon_in_select;
                            document.getElementById("qty_stockshow").innerHTML = uom_inchange.options[uon_in_select].text;

                        }
                        function uom_stockchange() {
                            var uom_stockchange = document.getElementById("uom_stock");
                            var uon_stock_select = uom_stockchange.selectedIndex;
                            document.getElementById("qty_stockshow").innerHTML = uom_stockchange.options[uon_stock_select].text;
                            console.log("หน่วยเก็บ " + uom_stockchange.options[uon_stock_select].text);

                        }
                    </script>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="uom_stock">หน่วยเก็บ<span style="color:red; ">*</span></label>
                        <div class="col-sm-8">

                            <select class="form-control" @ViewBag.dis id="uom_stock" name="uom_stock" onchange="uom_stockchange()">
                                <option disabled value="0" selected>เลือกหน่วยเก็บ</option>
                                @foreach (var item in result.UomSQL_list)
                                {
                                    <option value="@item.uom_id" @(item.uom_id == result.MaterialSQLdataselect.uom_stock ? "selected" : "")>@item.uom_name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-xs-4">
                            <input type="text" class="form-control autonumber" @ViewBag.dis id="qty_in" value="@(TypePage == true ? 1 : Convert.ToDouble(result.MaterialSQLdataselect.qty_in))" name="qty_in">
                        </div>


                        <label class="control-label col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:left" id="qty_inshow" for="qty_in">
                            @(TypePage == true ? "หน่วย" : "" )
                            @{ if (TypePage == false)
                                {
                                    foreach (var item in result.UomSQL_list)
                                    {@(item.uom_id == result.MaterialSQLdataselect.uom_in ? item.uom_name : "")}
                                }
                            }
                        </label>

                        @*@foreach (var item in result.UomSQL_list)
                            {@(item.uom_id == result.MaterialSQLdataselect.uom_in ?item.uom_name: "")}*@

                        <div class="col-sm-1 col-xs-1">
                            <p style="color: blue; margin-top: 7px; margin-left:5px">&#9868;</p>
                        </div>

                        <div class="col-sm-4 col-xs-4">

                            <input type="text" class="form-control autonumber" @ViewBag.dis id="qty_stock" value="@(TypePage == true ? 1 : Convert.ToDouble(result.MaterialSQLdataselect.qty_stock))" name="qty_stock">

                        </div>

                        <label class="control-label col-lg-1 col-md-1 col-sm-1 col-xs-1 text-align-left" id="qty_stockshow" for="qty_stock">
                            @(TypePage == true ? "หน่วย" : "" )
                            @{ if (TypePage == false)
                                {
                                    foreach (var item in result.UomSQL_list)
                                    {@(item.uom_id == result.MaterialSQLdataselect.uom_stock ? item.uom_name : "")}
                                }


                            }
                        </label>
                    </div>



                    <h3 class="margin-left-10" id="hrw">รูปภาพวัสดุ</h3>

                    @*<div class="margin-left-10 margin-right-10" id="qqqq" style="border-style: dashed; border-width: 1px; margin-bottom:5px" onclick="importData()">*@

                    @*<img id="blah" src="#" alt="" style="display: none; max-width: 100%" />*@

                    @*<img id="blah"
                        src="@(result.MaterialSQLdataselect.picture_path == "" || result.MaterialSQLdataselect.picture_path == null ? "":path)@result.MaterialSQLdataselect.picture_path"
                        alt="@result.MaterialSQLdataselect.picture_path"
                        style="@(result.MaterialSQLdataselect.picture_path != null?"display: block;":"display: none;") max-width: 100%" />*@


                    @*<p id="pdisplay"><br /><br /></p>*@
                    @*<input class="hidden" type="file" id="input" name="file" value="" />*@
                    @*</div>*@




                    <br />





                    <!-- multi pic -------------------------------------------------------------------------------------------------------------------------------------------------------- -->
                    <!-- multi pic -------------------------------------------------------------------------------------------------------------------------------------------------------- -->
                    <!-- multi pic -------------------------------------------------------------------------------------------------------------------------------------------------------- -->
                    <!-- multi pic -------------------------------------------------------------------------------------------------------------------------------------------------------- -->
                    <!-- multi pic -------------------------------------------------------------------------------------------------------------------------------------------------------- -->

                    <style>
                        /*  html {
                            font-family: sans-serif;
                        }*/

                        .immg {
                            width: auto;
                            background: #ccc;
                            margin: 0 auto;
                            padding: 20px;
                            border: 1px solid black;
                            font-family: sans-serif;
                        }

                            .immg ol {
                                padding-left: 0;
                            }

                            .immg li, .immg div > p {
                                background: #eee;
                                display: flex;
                                justify-content: space-between;
                                margin-bottom: 10px;
                                list-style-type: none;
                                border: 1px solid black;
                            }

                            .immg img {
                                height: 70px;
                                order: 1;
                            }
                            /*
                        img.ccl {
                            border: solid;
                            border-color: chocolate;
                        }*/
                            .immg p {
                                line-height: 32px;
                                padding-left: 10px;
                            }

                            .immg label, .immg button {
                                background-color: #7F9CCB;
                                padding: 5px 10px;
                                border-radius: 5px;
                                border: 1px ridge black;
                                font-size: 1.5rem;
                                height: auto;
                            }

                                .immg label:hover, .immg button:hover {
                                    background-color: #2D5BA3;
                                    color: white;
                                }

                                .immg label:active, .immg button:active {
                                    background-color: #0D3F8F;
                                    color: white;
                                }
                    </style>

                    <canvas id="myCanvas">
                    </canvas>

                    <div class="immg">
                        <div>
                            <label class="input-file-trigger" id="label-input-trigger" for="image_uploads" style="display: @(TypePage == true? "inline" : "none")">เลือกภาพที่จะอัปโหลด(JPG, PNG)</label>
                            @*<label for="image_uploads">Choose images to upload (PNG, JPG)</label>*@
                            <input type="file" class="input-file" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png" multiple style="opacity:0" : @(TypePage == true ? "block" : "none") @*onchange="updateImageDisplay()"*@>
                        </div>
                        <div class="preview">
                            @*<p>No files currently selected for upload</p>*@

                            @{ if (result.Picturelist.Count == 0)
                                {
                                    <p>ไม่ได้เลือกไฟล์ที่จะอัปโหลดในขณะนี้</p>
                                }
                                else
                                {
                                    foreach (var item in result.Picturelist)
                                    {
                                        <ol>
                                            <li>
                                                <img class="ccl" alt="@item.picture_path" src="@path@item.picture_path " />
                                                <p>
                                                    File name : @item.picture_name
                                                </p>
                                            </li>
                                        </ol>
                                    }
                                }
                            }






                        </div>

                    </div>

                    <script>

                        function showpicture(picture_path) {


                            const preview = document.querySelector('.preview');
                            preview.appendChild(list);
                            const listItem = document.createElement('li');
                            const para = document.createElement('p');
                            para.textContent = `File name ` + picture_path;
                            const image = document.createElement('img');
                            image.setAttribute("class", "ccl");
                            image.setAttribute("alt", picture_path);

                            //image.src = @path+picture_path;

                            listItem.appendChild(image);
                            listItem.appendChild(para);
                            list.appendChild(listItem);
                        }

                        function nofilecurrently() {
                            const preview = document.querySelector('.preview');
                            while (preview.firstChild) {
                                preview.removeChild(preview.firstChild);
                                console.log("remove")
                            }
                            const para = document.createElement('p');
                            para.textContent = 'No files currently selected for upload';
                            preview.appendChild(para);
                        }
                        function updateImageDisplay() {
                            const input = document.getElementById('image_uploads');
                            const preview = document.querySelector('.preview');
                            while (preview.firstChild) {
                                preview.removeChild(preview.firstChild);
                                console.log("remove")
                            }
                            console.log("ready!");
                            const curFiles = input.files;
                            if (curFiles.length === 0) {
                                const para = document.createElement('p');
                                para.textContent = 'No files currently selected for upload';
                                preview.appendChild(para);
                            } else {
                                const list = document.createElement('ol');
                                preview.appendChild(list);

                                for (const file of curFiles) {
                                    const listItem = document.createElement('li');
                                    const para = document.createElement('p');

                                    if (validFileType(file)) {
                                        para.textContent = `File name ${file.name}, file size ${returnFileSize(file.size)}.`;
                                        const image = document.createElement('img');
                                        image.setAttribute("class", "ccl");
                                        image.setAttribute("alt", file.name);
                                        image.src = URL.createObjectURL(file);
                                        //image.height = 64;
                                        listItem.appendChild(image);
                                        listItem.appendChild(para);
                                    } else {
                                        para.textContent = `File name ${file.name}: Not a valid file type. Update your selection.`;
                                        listItem.appendChild(para);
                                    }

                                    list.appendChild(listItem);
                                }
                            }
                        }

                    </script>


                    <!-- multi pic -------------------------------------------------------------------------------------------------------------------------------------------------------- -->
                    <!-- multi pic -------------------------------------------------------------------------------------------------------------------------------------------------------- -->
                    <!-- multi pic -------------------------------------------------------------------------------------------------------------------------------------------------------- -->
                    <!-- multi pic -------------------------------------------------------------------------------------------------------------------------------------------------------- -->
                    <!-- multi pic -------------------------------------------------------------------------------------------------------------------------------------------------------- -->
                    <br />
                    @*<script>
                            function importData() {
                                //let input = document.createElement('input');
                                //input.type = 'file';
                                //input.name = 'file';
                                //input.id = 'file';

                                let input = document.getElementById('input');
                                var ffill = document.getElementById('input').value;
                                input.onchange = evt => {
                                    const [file] = input.files
                                    if (file) {
                                        blah.src = URL.createObjectURL(file)
                                        blah.alt = (file.name)
                                    }
                                    let files = Array.from(input.files);
                                    console.log(files);
                                    console.log(input.files);
                                    console.log(file.name);
                                    console.log(file.size);
                                    console.log(file.type);
                                    const reader = new FileReader();
                                    reader.addEventListener("load", () => {
                                        console.log("111111111");
                                        console.log(reader.result);
                                        localStorage.setItem("recent-image", reader.result);
                                    });

                                    document.getElementById("blah").style.display = "block";
                                    document.getElementById("pdisplay").style.display = "none";
                                    var elementqqqq = document.getElementById('qqqq');
                                    elementqqqq.style.removeProperty("border-style");
                                    elementqqqq.style.removeProperty("border-width");
                                    elementqqqq.style.removeProperty("margin-bottom");

                                };

                                input.click();
                            }

                        </script>*@
                </div>


                @{
                    if (TypePage == false)
                    {
                        <div class="margin-top-10">
                            <a class="btn btn-default btn-circle btn-lg" id="activeupdate" value="@(result.MaterialSQLdataselect.status == true? "false" : "true")" onclick="checkactiveitem()"><i class="glyphicon @(result.MaterialSQLdataselect.status == true? "glyphicon-ok" : "glyphicon-remove")"></i></a> <label id="activeupdatlabele" onclick="checkactiveitem()"> @(result.MaterialSQLdataselect.status == true? "เปลี่ยนสถานะ ใช้งาน" : "เปลี่ยนสถานะ ไม่ใช้งาน")</label>

                            <script>
                    function checkactiveitem() {
                        var material = new Object();
                        material.item_id = document.getElementById("item_id").value;
                        material.status = document.getElementById("activeupdate").getAttribute("value");
                        console.log(material);
                        smartconfirmmessageboxedit1("เปลี่ยนสถานะการใช้งาน", "ยกเลิกเปลี่ยนสถานะ",
                            function callbackY() {
                                console.log("to do update status");
                                updateactivestatusitem(material);
                            },
                            function callbackN() {
                                canceleditcallback();
                            });
                    }
                    function updateactivestatusitem(material) {
                         $("#content_ajaxloader").show();
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("UpdateItemActive", "Material")',
                            data: JSON.stringify(material),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (response) {
                                if (response.output != 1) {
                                    //alert('ชื่อกลุ่มวัสดุ มีบันทึกอยู่แล้ว');
                                    //warningmartconfirmmessagebox(document.getElementById("headermanu").textContent, "ชื่อกลุ่มวัสดุ มีบันทึกอยู่แล้ว");
                                    //$("#content_ajaxloader").fadeOut("fast");
                                    //return;
                                }
                                console.log("insert complete");
                                console.log(response.output);

                                completesmartconfirmmessagebox1("เปลี่ยนสถานะการใช้งาน", "เปลี่ยนสถานะสำเร็จ");

                                $("#content_ajaxloader").fadeOut("fast");
                                //alert("บันทึกเรียบร้อย");
                                $('#Modal').modal('hide');

                                setTimeout(locatio, 2000);
                                function locatio() {
                                  window.location.href = "/material/editmaterial/" + "@result.MaterialSQLdataselect.item_no";
                                }
                                           @*$.ajax({
                                        type: "POST",
                                        url: '@Url.Action("Editmaterial", "Material")',
                                        data: JSON.stringify(material.item_no),
                                        contentType: "application/json; charset=utf-8",
                                        dataType: "json",
                                        success: function (response) {
                                        }
                                     })*@
                            },
                            failure: function (response) {
                                alert(response.responseText);
                            },
                            error: function (response) {
                                alert(response.responseText);
                            }
                         })
                }

                    function completesmartconfirmmessagebox1(string = '', content) {
                        $.smallBox({
                            title: "กำลัง" + string,
                            content: "<i class='fa fa-clock-o'></i> <i>" + content + "...</i>",
                            color: "#659265",
                            iconSmall: "fa fa-check fa-2x fadeInRight animated",
                            timeout: 10000
                        });
                    }

                function smartconfirmmessageboxedit1(stringY = '', stringN = '', callbackY, callbackN) {
                    $.SmartMessageBox({
                        title: "Confirm!",
                        content: "คุณต้องการ" + stringY + "หรือไม่",
                        buttons: '[ไม่][ใช่]'
                    }, function (ButtonPressed) {
                        if (ButtonPressed === "ใช่") {

                            //$.smallBox({
                            //    title: "กำลัง" + stringY,
                            //    content: "<i class='fa fa-clock-o'></i> <i>You pressed Yes...</i>",
                            //    color: "#659265",
                            //    iconSmall: "fa fa-check fa-2x fadeInRight animated",
                            //    timeout: 4000
                            //});
                            callbackY();
                            //true;
                        }
                        if (ButtonPressed === "ไม่") {
                            $.smallBox({
                                title: stringN,
                                content: "<i class='fa fa-clock-o'></i> <i>You pressed No...</i>",
                                color: "#C46A69",
                                iconSmall: "fa fa-times fa-2x fadeInRight animated",
                                timeout: 5000
                            });
                            callbackN();
                            //false;
                        }
                    });
                }
                            </script>

                        </div>
                    }
                }



                @{
                    if (result.MaterialSQLdataselect.item_id == 0)
                    {
                        <div class="row">
                            <div class="col-xs-6"></div>
                            <div class="col-xs-5 ">
                                <button class="btn-lg btn-success pull-right margin-top-10" style="margin:5px;" onclick="validatedata()">validate</button>
                            </div>
                            <div class="col-xs-1"></div>

                        </div>
                    }
                }


            </div>
        </form>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <p>คุณต้องการบันทึกข้อมูลใช่หรือไม่</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-lg btn-success margin-right-15 checkout-form" data-dismiss="modal" onclick="aabc()">ใช่</button>
                    <button type="button" class="btn-lg btn-danger" data-dismiss="modal">ไม่</button>

                </div>
            </div>
        </div>
    </div>

    <script>
        function getobjectmodal() {
            var material = new Object();
            if (document.getElementById("item_id").value != 0) {
                material.item_id = document.getElementById("item_id").value;
            }
            material.item_no = document.getElementById("item_no").value;
            material.item_name = document.getElementById("item_name").value;
            material.group_id = document.getElementById("group").value;
            material.category_id = document.getElementById("category").value;
            material.material_acc_id = document.getElementById("material_account").value;
            material.costing_method_id = document.getElementById("costing_method_material").value;
            material.description = document.getElementById("description").value;
            material.status = document.getElementById("status").checked;
            material.stock_count = document.getElementById("stock_count").checked;
            material.overdraw_stock = document.getElementById("overdraw_stock").checked;
            material.brand = document.getElementById("brand").value;
            material.version = document.getElementById("version").value;
            material.color = document.getElementById("color").value;
            material.size = document.getElementById("size").value;
            material.uom_in = document.getElementById("uom_in").value;
            material.uom_stock = document.getElementById("uom_stock").value;
            material.qty_in = document.getElementById("qty_in").value;
            material.qty_stock = document.getElementById("qty_stock").value;
            material.expiry = document.getElementById("expiry").value;
            //material.picture_path = document.getElementById("blah").alt;
            return material;
        }

        function getobjectformdata(material) {

            var form_data = new FormData();

            var img = new Object();
            var imgs = document.getElementsByClassName("ccl");
            var imgSrcs = [];

            for (var i = 0; i < imgs.length; i++) {
                var scrimg = imgs[i].src;
                var altimg = imgs[i].alt;
                var typeimg = imgs[i].getAttribute("valuetype");
                imgSrcs.push(imgs[i].src);
                //console.log(i+"imgappen")
                //console.log(scrimg)
                img.pathimg = scrimg;
                console.log("scr" + scrimg)
                console.log("alt" + altimg)
                console.log("valuetype" + typeimg)
                form_data.append("img["+i+"].pathimg", scrimg)
                form_data.append("img["+i+"].nameimg", altimg)
                form_data.append("img["+i+"].typeimg", typeimg)
            }
            console.log(img)
            console.log(img.pathimg)
            //form_data.append('img', imgSrcs)
            console.log(img.scrimg)



            //console.log(form_data);
            //console.log(imgSrcs);
            //alert(4444);


            //form_data.append('')

            //var inputArray = $(".detail-img").serializeArray();
            //console.log(inputArray)
            //console.log(inputArray.value)

            //var elem = document.getElementById("image_uploads");
            //for (var i = 0; i < elem.files.length; i++) {
            //    var file_data = $('#image_uploads').prop('files')[i];
            //    console.log(file_data);
            //    form_data.append('file', file_data);
            ////}

            //const dataurl = document.querySelectorAll("input[type=file].detail-img");
            ////const inputdata = dataurl.querySelectorAll(".detail-img");
            //dataurl.forEach(function () {
            //    form_data.append("input.namepath", dataurl.namepath);
            //    form_data.append("input.valuetype", dataurl.valuetype);
            //    form_data.append("input.name", dataurl.name);

            //});

            console.log(form_data);

            if (material.item_id != 0) {
                form_data.append('material.item_id', material.item_id)
            }
            form_data.append('material.item_no', material.item_no)
            form_data.append('material.item_name', material.item_name)
            form_data.append('material.group_id', material.group_id)
            form_data.append('material.category_id', material.category_id)
            form_data.append('material.material_acc_id', material.material_acc_id)
            form_data.append('material.costing_method_id', material.costing_method_id)
            form_data.append('material.description', material.description)
            form_data.append('material.status', material.status)
            form_data.append('material.stock_count', material.stock_count)
            form_data.append('material.overdraw_stock', material.overdraw_stock)
            form_data.append('material.brand', material.brand)
            form_data.append('material.version', material.version)
            form_data.append('material.color', material.color)
            form_data.append('material.size', material.size)
            form_data.append('material.uom_in', material.uom_in)
            form_data.append('material.uom_stock', material.uom_stock)
            form_data.append('material.qty_in', material.qty_in)
            form_data.append('material.qty_stock', material.qty_stock)
            form_data.append('material.expiry', material.expiry)
            //form_data.append('material.picture_path', material.picture_path)

            //console.log(material.picture_path + "path get ");

            return form_data;
        }

    </script>

    @{
        if (result.MaterialSQLdataselect.item_id == 0)
        {


            <div class="row margin-top-10 margin-bottom-10 ">

                <button class="btn-lg btn-success " style="margin:5px;" onclick="comfirmsaveinsert()">บันทึก</button>

            </div> <br /><br />

            <script>

                function comfirmsaveinsert() {


                    ///////////////////
                    //var va = validate();

                    //validatedata()
                    //var va =  validatedata()
                    //alert(va)
                    var counter = 0;

                    var itemnodate = document.getElementById("item_no");
                    var itemnamedate = document.getElementById("item_name");
                    var gvalidate = document.getElementById("group");
                    var cvalidate = document.getElementById("category");
                    var maccdata = document.getElementById("material_account");
                    var costingdata = document.getElementById("costing_method_material");
                    let r = new RegExp('^[a-zA-Zก-๛ \s]+$')

                    console.log(r.test('test นะจ๊ะ'))

                    if (itemnodate.value == "") {
                        itemnodate.classList.add("invalid");
                        counter++
                    } else {
                        itemnodate.classList.remove("invalid");
                        itemnodate.classList.add("valid");
                    }

                    if (itemnamedate.value == "") {
                        itemnamedate.classList.add("invalid");
                        counter++
                    } else {
                        itemnamedate.classList.remove("invalid");
                        itemnamedate.classList.add("valid");
                    }

                    if (gvalidate.selectedIndex == 0) {
                        gvalidate.classList.add("invalid");
                        //alert('Please select an item');
                        counter++;
                    } else {
                        gvalidate.classList.remove("invalid");
                        gvalidate.classList.add("valid");
                    }

                    if (cvalidate.selectedIndex == 0) {
                        cvalidate.classList.add("invalid");
                        counter++
                    } else {
                        cvalidate.classList.remove("invalid");
                        cvalidate.classList.add("valid");
                    }

                    if (maccdata.selectedIndex == 0) {
                        maccdata.classList.add("invalid");
                        counter++
                    } else {
                        maccdata.classList.remove("invalid");
                        maccdata.classList.add("valid");
                    }

                    if (costingdata.selectedIndex == 0) {
                        costingdata.classList.add("invalid");
                        counter++
                    } else {
                        costingdata.classList.remove("invalid");
                        costingdata.classList.add("valid");
                    }


                    console.log(counter)
                    if (counter > 0) {
                        console.log("validate")
                        return false;
                    }
                    console.log("complete validate")



                    //$(".required").each(function () {
                    //    if ($(this).val() == "") {
                    //        $(this).addClass("invalid");
                    //        console.log($(this))
                    //        counter++;
                    //    }
                    //    else {
                    //        $(this).removeClass("invalid");
                    //        $(this).addClass("valid");
                    //        console.log($(this))
                    //    }
                    //});

                    smartconfirmmessagebox(document.getElementById("headermanu").textContent, function () {
                        console.log("Do function call back ");
                        insertdata();
                    })
                }


            function insertdata() {
                console.log("in function")
                //alert("in function")
                ///get input to val

                var material = getobjectmodal();
                var form_data = getobjectformdata(material);

                //////////////////////////////////
                $("#content_ajaxloader").show();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Createtodata", "Material")',
                    //dataType: 'text',
                    cache: false,
                    processData: false,
                    contentType: false,
                    data: form_data,
                    //data: JSON.stringify(material),
                    //contentType: "application/json; charset=utf-8",
                    //dataType: "json",

                    success: function (response) {
                        console.log("response");
                        console.log(response);
                        //if (response.output == 0) {
                        //    alert('รหัสวัสดุ มีบันทึกอยู่แล้ว');

                        //    $("#content_ajaxloader").fadeOut("fast");
                        //    return;
                        //}

                        if (response.output.msg == 2) {
                            //alert('รหัสวัสดุ มีบันทึกอยู่แล้ว');
                            warningsmartconfirmmessagebox("รหัสวัสดุ มีบันทึกอยู่แล้ว", "โปรดแก้ไขข้อมูล");
                            document.getElementById("item_no").focus();
                            $("#content_ajaxloader").fadeOut("fast");
                            return;
                        } else if (response.output.msg == 3) {

                            //alert('รายละเอียด มีบันทึกอยู่แล้ว');
                            warningsmartconfirmmessagebox("รายละเอียด มีบันทึกอยู่แล้ว", "โปรดแก้ไขข้อมูล");
                            $("#content_ajaxloader").fadeOut("fast");
                            return;
                        }


                        console.log("insert complete");
                        console.log(response.output);

                        completesmartconfirmmessagebox(document.getElementById("headermanu").textContent, "โหลดข้อมูล");

                        $("#content_ajaxloader").fadeOut("fast");
                        //alert("บันทึกเรียบร้อย")
                        //alert(response.item_no + "suc" + response.picture_path)


                        setTimeout(locatio, 2000);
                        function locatio() {
                        window.location.href = "/material/Creatematerial";
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
                    };

            </script>

        }
        else
        {
            <div class="modal fade" id="myModaldelete" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <p>คุณต้องการลบข้อมูลใช่หรือไม่</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn-lg btn-success margin-right-15" data-dismiss="modal" onclick="aadelete()">ใช่</button>
                            <button type="button" class="btn-lg btn-danger" data-dismiss="modal">ไม่</button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row margin-top-10 margin-bottom-10 ">
                <button id="btcancel" class="btn btn-danger pull-right" style="margin:5px; display:none;" @*onclick="canceledit()*@ onclick="location.href='@Url.Action("Editmaterial", "Material", new { id = @result.MaterialSQLdataselect.item_no })'">Cancel</button>
                <button id="btsave" class="btn btn-success pull-right" style="margin: 5px; display: none;" onclick="comfirmsave()">Save</button>
                <button id="btdelte" class="btn btn-danger pull-right" style="margin:5px;" onclick="deleteedit()">Delete</button>
                <button id="btedit" class="btn btn-warning pull-right" style="margin:5px;" onclick="openedit()">Edit</button>

            </div> <br /><br />

            <script>
        function canceleditcallback() {
            var id = document.getElementById("item_id").value;
            console.log(id);
            $('#content_ajaxloader').show();
            $.ajax({
                //type: "POST",
                url: '@Url.Action("Editmaterial", "Material")',
                dataType: 'html',
                data: { id: id},
                success: function (result) {
                    $('#content_ajaxloader').hide();

                }
            });
        }


            function openedit() {
                document.getElementById("btedit").style.display = "none";
                document.getElementById("btcancel").style.display = "block";
                document.getElementById("btsave").style.display = "block";
                document.getElementById("btdelte").style.display = "none";
                ////////////// disable
                //document.getElementById("item_no").disabled = false;
                document.getElementById("item_name").disabled = false;
                document.getElementById("group").disabled = false;
                document.getElementById("category").disabled = false;
                document.getElementById("material_account").disabled = false;
                document.getElementById("costing_method_material").disabled = false;
                document.getElementById("stock_count").disabled = false;
                document.getElementById("overdraw_stock").disabled = false;
                document.getElementById("status").disabled = false;
                document.getElementById("brand").disabled = false;
                document.getElementById("version").disabled = false;
                document.getElementById("color").disabled = false;
                document.getElementById("size").disabled = false;
                document.getElementById("description").disabled = false;
                document.getElementById("uom_in").disabled = false;
                document.getElementById("uom_stock").disabled = false;
                document.getElementById("qty_in").disabled = false;
                document.getElementById("qty_stock").disabled = false;
                document.getElementById("activeupdate").style.display = "none";
                document.getElementById("activeupdatlabele").style.display = "none";
                document.getElementById("label-input-trigger").style.display = "inline";
                document.getElementById("image_uploads").style.display = "inline";

            }
            function canceledit() {
                document.getElementById("btedit").style.display = "block";
                document.getElementById("btcancel").style.display = "none";
                document.getElementById("btsave").style.display = "none";
                document.getElementById("btdelte").style.display = "block";
                /////////
                ////////////// disable
                document.getElementById("item_no").disabled = true;
                document.getElementById("item_name").disabled = true;
                document.getElementById("group").disabled = true;
                document.getElementById("category").disabled = true;
                document.getElementById("material_account").disabled = true;
                document.getElementById("costing_method_material").disabled = true;
                document.getElementById("stock_count").disabled = true;
                document.getElementById("overdraw_stock").disabled = true;
                document.getElementById("status").disabled = true;
                document.getElementById("brand").disabled = true;
                document.getElementById("version").disabled = true;
                document.getElementById("color").disabled = true;
                document.getElementById("size").disabled = true;
                document.getElementById("description").disabled = true;
                document.getElementById("uom_in").disabled = true;
                document.getElementById("uom_stock").disabled = true;
                document.getElementById("qty_in").disabled = true;
                document.getElementById("qty_stock").disabled = true;
            }

            function deleteedit()
            {
                $('#myModaldelete').modal('show')
            }

                     function aadelete() {
                         var mateid = new Object();
                         mateid.item_id = document.getElementById("item_id").value;
                          $("#content_ajaxloader").show();
                         $.ajax({
                             type: "POST",
                             url: '@Url.Action("DeleteMaterial", "Material")',
                             data: JSON.stringify(mateid) ,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        console.log("delete complete");
                        $("#content_ajaxloader").fadeOut("fast");
                        alert("ลบเรียบร้อย")
                        window.location.href = "/material";
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                })
                     }

            function comfirmsave() {
                $('#myModal').modal('show')
                var testttttt = document.getElementById("stock_count").checked
                var testttttt1 = document.getElementById("overdraw_stock").checked
                var testtttt2t = document.getElementById("status").checked
               // alert(testttttt + " " + testttttt1 + " " + testtttt2t);
            }
            function aabc() {
              //  alert("hello wolrd");

                saveedit()
            }

            function saveedit() {
                console.log("in function")
                //alert("in function")
                ///get input to val
                var material = getobjectmodal();
                var form_data = getobjectformdata(material);

                $("#content_ajaxloader").show();
                    $.ajax({

                    type: "POST",
                    url: '@Url.Action("Editmaterialdata", "Material")',
                    data: form_data,
                    cache: false,
                    processData: false,
                    contentType: false,

                    //data: JSON.stringify(material),
                    //contentType: "application/json; charset=utf-8",
                    //dataType: "json",


                        success: function (response) {
                            if (response.output.msg == 1) {
                                console.log("edit complete");
                                //    alert(response + "suc");
                                $("#content_ajaxloader").fadeOut("fast");
                                alert("บันทึกเรียบร้อย")
                                window.location.href = "/material/editmaterial" /*+"id="+*/ + "/" + material.item_no;

                            } else if (response.output.msg == 3) {
                                alert('รายละเอียด มีบันทึกอยู่แล้ว');

                                $("#content_ajaxloader").fadeOut("fast");
                                return;
                            }



                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                })
            };
            </script>

        }
    }


</div>

@section pagespecific {
    <script type="text/javascript">


        $(document).ready(function () {
            console.log("ready!");

            var fileInput = document.querySelector(".input-file"),
                the_return = document.querySelector(".file-return");

            fileInput.addEventListener("change", function (ev) {
                var elem = document.getElementById("image_uploads");
                const preview = document.querySelector('.preview');
                while (preview.firstChild) {
                    preview.removeChild(preview.firstChild);
                    console.log("remove")
                }
                console.log("ready!");
                if (elem.files.length === 0) {
                    const para = document.createElement('p');
                    para.textContent = 'No files currently selected for upload';
                    preview.appendChild(para);
                } else {
                    const list = document.createElement('ol');
                    preview.appendChild(list);
                    for (var i = 0; i < elem.files.length; i++) {
                        var file = $('#image_uploads').prop('files')[i];
                        var filename = file.name;
                        var filetype = file.type;
                        console.log(filetype);
                        const blobURL = URL.createObjectURL(file);
                        const img = new Image();
                        img.src = blobURL;
                        img.name = filename;
                        img.Value = i;
                        img.valuetype = filetype;
                        img.onload = function () {
                            URL.revokeObjectURL(this.src);
                            console.log(this.Value + " " + this.name);
                            var MAX_WIDTH = 800;
                            var MAX_HEIGHT = 600;
                            var width = img.width;
                            var height = img.height;
                            if (width > height) {
                                if (width > MAX_WIDTH) {
                                    height *= MAX_WIDTH / width;
                                    width = MAX_WIDTH;
                                }
                            } else {
                                if (height > MAX_HEIGHT) {
                                    width *= MAX_HEIGHT / height;
                                    height = MAX_HEIGHT;
                                }
                            }
                            const canvas = document.createElement("canvas");
                            canvas.width = width;
                            canvas.height = height;
                            const ctx = canvas.getContext("2d");
                            ctx.drawImage(img, 0, 0, width, height,);

                            const listItem = document.createElement('li');
                            const para = document.createElement('p');
                            console.log("creale P" + this.Value)

                            const image = document.createElement('img');
                            image.setAttribute("class", "ccl");
                            image.setAttribute("alt", this.name);
                            image.setAttribute("valuetype", this.valuetype);
                            console.log(this.valuetype)
                            image.src = canvas.toDataURL();
                            para.textContent = `File name ${this.name}`;
                            //document.getElementById("uploadPreview").src = canvas.toDataURL();
                            listItem.appendChild(image);
                            listItem.appendChild(para);
                            list.appendChild(listItem);

                            var data = canvas.toDataURL();
                            var ImageURL = data
                            var block = ImageURL.split(";");
                            var contentType = block[0].split(":")[1];
                            var realData = block[1].split(",")[1];
                            var ImageType = contentType.split("/")[1];

                            var input = document.createElement("input");
                            input.setAttribute("class", "detail-img");
                            input.setAttribute("type", "hidden");
                            input.setAttribute("nameinput", "input-target");
                            input.setAttribute("name", this.name);
                            //input.setAttribute("namepath", realData);
                            input.setAttribute("value", realData);
                            input.setAttribute("valuetype", this.valuetype);
                            document.body.appendChild(input);

                            //$("#ImagePath").val(realData);
                            //$("#ImageType").val(ImageType);
                        }
                    };
                }
            });
        });


        //// https://developer.mozilla.org/en-US/docs/Web/Media/Formats/Image_types
        const fileTypes = [
            'image/apng',
            'image/bmp',
            'image/gif',
            'image/jpeg',
            'image/pjpeg',
            'image/png',
            'image/svg+xml',
            'image/tiff',
            'image/webp',
            `image/x-icon`
        ];

        function validFileType(file) {
            return fileTypes.includes(file.type);
        }

        function returnFileSize(number) {
            if (number < 1024) {
                return number + 'bytes';
            } else if (number > 1024 && number < 1048576) {
                return (number / 1024).toFixed(1) + 'KB';
            } else if (number > 1048576) {
                return (number / 1048576).toFixed(1) + 'MB';
            }
        }


        ////////////////////////////////////////////////////////////////////////////////////////////////////////////
        $('.autonumber').autoNumeric();
        function completesmartconfirmmessagebox(string = '', content) {
            $.smallBox({
                title: "กำลัง" + string,
                content: "<i class='fa fa-clock-o'></i> <i>" + content + "...</i>",
                color: "#659265",
                iconSmall: "fa fa-check fa-2x fadeInRight animated",
                timeout: 5000
            });
        }

        function warningmartconfirmmessagebox(string = '', content) {
            $.smallBox({
                title: string,
                content: "<i class='fa fa-clock-o'></i> <i>" + content + "...</i>",
                color: "rgb(199, 145, 33)",
                iconSmall: "fa fa-check fa-2x fadeInRight animated",
                timeout: 5000
            });
        }

        function warningsmartconfirmmessagebox(string = '', content) {
            $.smallBox({
                title:/* "กำลัง" + */string,
                content: "<i class='fa fa-clock-o'></i> <i>" + content + "...</i>",
                color: "#C79121",
                iconSmall: "fa fa-shield fa-2x fadeInRight animated",


                //content: "<i class='fa fa-clock-o'></i> <i>2 seconds ago...</i>",
                //color: "#296191",
                //iconSmall: "fa fa-thumbs-up bounce animated",
                timeout: 5000
            });
        }

        function smartconfirmmessagebox(string = '', callback) {
            $.SmartMessageBox({
                title: "Confirm!",
                content: "คุณต้องการ" + string + "หรือไม่",
                buttons: '[ไม่][ใช่]'
            }, function (ButtonPressed) {
                if (ButtonPressed === "ใช่") {
                    callback();
                    //true;
                }
                if (ButtonPressed === "ไม่") {
                    $.smallBox({
                        title: "ยกเลิกบันทึกข้อมูล",
                        content: "<i class='fa fa-clock-o'></i> <i>You pressed No...</i>",
                        color: "#C46A69",
                        iconSmall: "fa fa-times fa-2x fadeInRight animated",
                        timeout: 10000
                    });
                    //false;
                }
            });
        }


        // DO NOT REMOVE : GLOBAL FUNCTIONS!


        //$(document).ready(validatedata());


        function validatedata() {


            //function validatedata() {
            console.log("val function")

            var checkoutForm = $('#checkout-form').validate({
                //var $checkoutForm = $('#checkout-form').validate({
                //validClass: 'validateclass',

                // Rules for form validation
                rules: {
                    item_no: {
                        required: true
                        //,highlight: function (element, errorClass, validClass) {
                        //    $('#item_no').addClass('validateclass');
                        //}
                    },
                    item_name: {
                        required: true
                    },
                    group: {
                        required: true
                    },
                    category: {
                        required: true
                    },
                    material_account: {
                        required: true
                    },
                    costing_method_material: {
                        required: true
                    },
                    uom_in: {
                        required: true
                    },
                    //uom_stock: {
                    //    required: true
                    //},
                    qty_in: {
                        required: true
                    },
                    qty_stock: {
                        required: true
                    }
                },
                // Messages for form validation
                messages: {
                    item_no: {
                        required: '<span style="color:red;">โปรดใส่รหัสวัสดุ</span>'
                    },
                    item_name: {
                        required: '<span style="color:red;">โปรดใส่ชื่อวัสดุ</span>'
                    },
                    group: {
                        required: '<span style="color:red;">โปรดใส่กลุ่มวัสดุ</span>'
                    },
                    category: {
                        required: '<span style="color:red;">โปรดใส่ประเภทวัสดุ</span>'
                    },
                    material_account: {
                        required: '<span style="color:red;">โปรดใส่บัญชีวัสดุ</span>'
                    },
                    costing_method_material: {
                        required: '<span style="color:red;">โปรดใส่วิธีคิดต้นทุนวัสดุ</span>'
                    },
                    uom_in: {
                        required: '<br /><br /><span style="color:red;">โปรดใส่หน่วยซื้อ</span>'
                    },
                    //uom_stock: {
                    //    required: '<br /><br /><span style="color:red;">โปรดใส่หน่วยเก็บ</span>'
                    //},
                    qty_in: {
                        required: '<span style="color:red;">โปรดใส่จำนวนซื้อ</span>'
                    },
                    qty_stock: {
                        required: '<span style="color:red;">โปรดใส่จำนวนเก็บ</span>'
                    }


                }
                , success: function (element) {

                    // or maybe this
                    // $(element).closest('.control-group').find('.help-block').hide();
                    // but you'll need a ".show()" at the end of your line in "errorPlacement"
                }

                ,
                // Do not change code below
                errorPlacement: function (error, element) {

                    error.insertAfter(element.parent());
                    //error.removeClass('validateclass');

                }

            })
            console.log(checkoutForm + "checkoutForm");
            alert(checkoutForm + "checkoutForm");
        }


    </script>
}

