@*@model KKN_UI.Models.materialModel
    @model KKN_UI.Models.FileUploadModel*@


@{
    //materialModel result = Model;
    //List<groupmaterial> result = Model;
    materialmodalview result = Model;
    //FileUploadModel fileresult = Model;
}
@{
    ViewBag.Title = "Creatematerial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="row margin-top-10">
        <div class="row">
            <h3>
                <i class="fa fa-cube"></i> &nbsp; <span style="color:forestgreen;">เพิ่มวัสดุอุปกรณ์ใหม่</span>
                @*<i class="fa fa-chevron-right"></i>
                    <span style="color:blue;">รายละเอียดวัสดุ </span> &nbsp;
                    <span>sdfsdfsdfsdfdsssdf </span>*@  &nbsp;&nbsp;
                <a href="@Url.Action("Index", "Material")">Back</a>
            </h3>
        </div>
    </div>

    <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
      
        <header>

        </header>

        <!-- widget div-->
        <div>

            <div class="widget-body no-padding">

                <form id="checkout-form" class="smart-form" novalidate="novalidate">


                    <fieldset>
                        <div class="row">
                            <section class="col col-6">
                                <label class="input">
                                    <i class="icon-prepend fa fa-user"></i>
                                    <input type="text" name="fname" placeholder="First name">
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="input">
                                    <i class="icon-prepend fa fa-user"></i>
                                    <input type="text" name="lname" placeholder="Last name">
                                </label>
                            </section>
                        </div>

                        <div class="row">
                            <section class="col col-6">
                                <label class="input">
                                    <i class="icon-prepend fa fa-envelope-o"></i>
                                    <input type="email" name="email" placeholder="E-mail">
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="input">
                                    <i class="icon-prepend fa fa-phone"></i>
                                    <input type="tel" name="phone" placeholder="Phone" data-mask="(999) 999-9999">
                                </label>
                            </section>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="row">
                            <section class="col col-5">
                                <label class="select">
                                    <select name="country">
                                        <option value="0" selected="" disabled="">Country</option>
                                        <option value="244">Aaland Islands</option>
                                        <option value="1">Afghanistan</option>
                                        <option value="2">Albania</option>
                                        <option value="3">Algeria</option>
                                        <option value="4">American Samoa</option>
                                    </select> <i></i>
                                </label>
                            </section>

                            <section class="col col-4">
                                <label class="input">
                                    <input type="text" name="city" placeholder="City">
                                </label>
                            </section>

                            <section class="col col-3">
                                <label class="input">
                                    <input type="text" name="code" placeholder="Post code">
                                </label>
                            </section>
                        </div>

                        <section>
                            <label for="address2" class="input">
                                <input type="text" name="address2" id="address2" placeholder="Address">
                            </label>
                        </section>

                        <section>
                            <label class="textarea">
                                <textarea rows="3" name="info" placeholder="Additional info"></textarea>
                            </label>
                        </section>
                    </fieldset>

                    <fieldset>
                        <section>
                            <div class="inline-group">
                                <label class="radio">
                                    <input type="radio" name="radio-inline" checked="">
                                    <i></i>Visa
                                </label>
                                <label class="radio">
                                    <input type="radio" name="radio-inline">
                                    <i></i>MasterCard
                                </label>
                                <label class="radio">
                                    <input type="radio" name="radio-inline">
                                    <i></i>American Express
                                </label>
                            </div>
                        </section>

                        <section>
                            <label class="input">
                                <input type="text" name="name" placeholder="Name on card">
                            </label>
                        </section>

                        <div class="row">
                            <section class="col col-10">
                                <label class="input">
                                    <input type="text" name="card" placeholder="Card number" data-mask="9999-9999-9999-9999">
                                </label>
                            </section>
                            <section class="col col-2">
                                <label class="input">
                                    <input type="text" name="cvv" placeholder="CVV2" data-mask="999">
                                </label>
                            </section>
                        </div>

                        <div class="row">
                            <label class="label col col-4">Expiration date</label>
                            <section class="col col-5">
                                <label class="select">
                                    <select name="month">
                                        <option value="0" selected="" disabled="">Month</option>
                                        <option value="1">January</option>
                                        <option value="1">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select> <i></i>
                                </label>
                            </section>
                            <section class="col col-3">
                                <label class="input">
                                    <input type="text" name="year" placeholder="Year" data-mask="2099">
                                </label>
                            </section>
                        </div>
                    </fieldset>

                    <footer>
                        <button type="submit" class="btn btn-primary">
                            Validate Form
                        </button>
                    </footer>
                </form>

            </div>
            <!-- end widget content -->

        </div>
        <!-- end widget div -->

    </div>
    <!-- end widget -->
    <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    
    <div class="row margin-top-10">




        <!---------------------->
        <div class="col-lg-8" id="horizonform">
            <style>
                #horizonform {
                    border-style: ridge;
                    border-width: 2px;
                }

                #hrw {
                    display: block;
                    border-bottom: 1px dashed
                }
            </style>

            <form class="form-horizontal">
                <h3 id="hrw">วัสดุ</h3>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="item_no">รหัสวัสดุ<span style="color:red; ">*</span></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="item_no" placeholder="ระบุ รหัสวัสดุ" name="item_no" maxlength="5">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="item_name">ชื่อวัสดุ<span style="color:red; ">*</span></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="item_name" placeholder="ระบุ ชื่อวัสดุ" name="item_name" maxlength="100">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="group">กลุ่มวัสดุ<span style="color:red; ">*</span></label>
                    <div class="col-sm-4">

                        <select class="form-control" id="group" name="group">

                            <option disabled value="0" selected>เลือกกลุ่มวัสดุ</option>
                            @foreach (var item in result.grouplist)
                            {
                                <option value="@item.group_id ">@item.group_name</option>
                            }


                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="category">ประเภทวัสดุ<span style="color:red; ">*</span></label>
                    <div class="col-sm-4">
                        <select class="form-control" id="category" name="category">
                            <option disabled value="0" selected>เลือกประเภทวัสดุ</option>
                            @foreach (var item in result.categorylist)
                            {
                                <option value="@item.category_id ">@item.category_name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="material_account">บัญชีวัสดุ<span style="color:red; ">*</span></label>
                    <div class="col-sm-4">
                        <select class="form-control" id="material_account" name="material_account">
                            <option disabled value="0" selected>เลือกบัญชีวัสดุ</option>
                            @foreach (var item in result.material_account_list)
                            {
                                <option value="@item.material_account_id ">@item.material_account_name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="costing_method_material">วิธีคิดต้นทุนวัสดุ<span style="color:red; ">*</span></label>
                    <div class="col-sm-4">
                        <select class="form-control" id="costing_method_material" name="costing_method_material">
                            <option disabled value="0" selected>เลือกวิธีคิดต้นทุนวัสดุ</option>
                            @foreach (var item in result.costing_method_material_list)
                            {
                                <option value="@item.costing_method_material_id ">@item.costing_method_material_name</option>
                            }
                        </select>
                    </div>
                </div>
                <style>
                    select option[disabled]:first-child {
                        display: none;
                    }
                </style>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label><input type="checkbox" id="stock_count" name="stock_count"> วัสดุนับสต๊อก</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label><input type="checkbox" id="overdraw_stock" name="overdraw_stock"> ให้เบิกเกินสต๊อกได้</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label><input type="checkbox" id="status" name="status"> ใช้งานวัสดุ</label>
                        </div>
                    </div>
                </div>


                <h3 id="hrw">รายละเอียดวัสดุเพิ่มเติม</h3>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="brand">ยี่ห้อ:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="brand" placeholder="ระบุ ยี่ห้อ" name="brand">
                    </div>

                    <label class="control-label col-sm-2" for="version">รุ่น:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="version" placeholder="ระบุ รุ่น" name="version">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="color">สี:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="color" placeholder="ระบุ สี่" name="color">
                    </div>
                    <label class="control-label col-sm-2" for="size">ขนาด:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="size" placeholder="ระบุ ขนาด" name="size">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="description">ข้อมูลจำเพาะ:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="3" id="description" placeholder="ระบุข้อมูลจำเพาะ"></textarea>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-lg-4">

            <form class="form-horizontal margin-top-10 padding-5" id="horizonform">
                <h3 id="hrw">หน่วยวัสดุ</h3>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="uom_in">หน่อยซื้อ<span style="color:red; ">*</span></label>
                    <div class="col-sm-8">
                        <select class="form-control" id="uom_in" name="uom_in" onchange="uom_inchange()">
                            <option disabled value="0" selected>เลือกหน่วยซื้อ</option>
                            @foreach (var item in result.uomlist)
                            {
                                <option value="@item.uom_id ">@item.uom_name</option>
                            }
                        </select>
                    </div>
                </div>
                <script>
                    /////functionchangeuom
                    function uom_inchange() {
                        var uom_inchange = document.getElementById("uom_in");
                        var uon_in_select = uom_inchange.selectedIndex;
                        document.getElementById("qty_inshow").innerHTML = uom_inchange.options[uon_in_select].text;
                        console.log("หน่วยซื้อ " + uom_inchange.options[uon_in_select].text);
                        document.getElementById("uom_stock").selectedIndex = uon_in_select;
                        document.getElementById("qty_stockshow").innerHTML = uom_inchange.options[uon_in_select].text;

                    }
                    function uom_stockchange() {
                        var uom_stockchange = document.getElementById("uom_stock");
                        var uon_stock_select = uom_stockchange.selectedIndex;
                        document.getElementById("qty_stockshow").innerHTML = uom_stockchange.options[uon_stock_select].text;
                        console.log("หน่วยเก็บ " + uom_stockchange.options[uon_stock_select].text);

                    }
                </script>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="uom_stock">หน่วยเก็บ<span style="color:red; ">*</span></label>
                    <div class="col-sm-8">
                        <select class="form-control" id="uom_stock" name="uom_stock" onchange="uom_stockchange()">
                            <option disabled value="0" selected>เลือกหน่วยเก็บ</option>
                            @foreach (var item in result.uomlist)
                            {
                                <option value="@item.uom_id ">@item.uom_name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-xs-4">
                        <input type="email" class="form-control" id="qty_in" value="1.0" name="qty_in">
                    </div>
                    <label class="control-label col-sm-1 col-xs-1 text-align-left" id="qty_inshow" for="qty_in">หน่วย</label>
                    <div class="col-sm-1 col-xs-1">
                        <p style="color:blue;">&#9868;</p>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                        <input type="email" class="form-control" id="qty_stock" value="1.0" name="qty_stock">
                    </div>
                    <label class="control-label col-sm-1 col-xs-1 text-align-left" id="qty_stockshow" for="qty_stock">หน่วย</label>
                </div>
            </form>


            <form class="form-horizontal margin-top-10 padding-5" id="horizonform">
                <h3 id="hrw">รูปภาพวัสดุ</h3>

                <div id="qqqq" style="border-style: dashed; border-width: 1px; margin-bottom:5px" onclick="importData()">
                    <img id="blah" src="#" alt="" style="display: none; max-width: 100%" />
                    <p id="pdisplay"><br /><br /></p>
                </div>
                @*<input id="fileinput" type="file" name="name" class="hidden"/>*@




                <script>
                    function importData() {
                        let input = document.createElement('input');
                        input.type = 'file';
                        input.name = 'file';
                        input.id = 'file';

                        input.onchange = evt => {
                            const [file] = input.files
                            if (file) {
                                blah.src = URL.createObjectURL(file)
                                blah.alt = (file.name)
                            }
                            let files = Array.from(input.files);
                            console.log(files);
                            console.log(input.files);

                            console.log(file.name);
                            console.log(file.size);
                            console.log(file.type);


                            const reader = new FileReader();
                            reader.addEventListener("load", () => {
                                console.log("111111111");
                                console.log(reader.result);
                                localStorage.setItem("recent-image", reader.result);
                            });

                            //console.log("open");
                            //reader.readAsDataURL(this.file);
                            //console.log("off");



                            document.getElementById("blah").style.display = "block";
                            document.getElementById("pdisplay").style.display = "none";
                            var elementqqqq = document.getElementById('qqqq');
                            elementqqqq.style.removeProperty("border-style");
                            elementqqqq.style.removeProperty("border-width");
                            elementqqqq.style.removeProperty("margin-bottom");

                            //var returnfilename = file.name
                            //return returnfilename
                        };

                        input.click();


                    }

                </script>

            </form>
            <div class="row">
                <br /><br /><br />
                <div class="col-xs-6"></div>
                <div class="col-xs-5 "> <button class="btn-lg btn-success pull-right margin-top-10" type="submit" style="margin:5px;" onclick="comfirmsave()">บันทึก</button></div>
                <div class="col-xs-1"></div>
            </div>
        </div>
        <!---------------------->





    </div>

    <div class="row margin-top-10 margin-bottom-10 ">

        @*<button class="btn-lg btn-success pull-right" type="submit" style="margin:5px;" onclick="comfirmsave()">บันทึก</button>*@


        <script>


            function validate() {
                //alert("55")
                //var usernameRegex = /^[a-zA-Z0-9\-]+$/;
                //var validUsername = document.getElementById("item_no").value.match(usernameRegex);
                //if (validUsername == null) {
                //    alert("Your first name is not valid. Only characters A-Z, a-z and '-' are  acceptable.");
                //    document.getElementById("item_no").focus();
                //    return false;
                //}

                var tno = document.getElementById("item_no").value;
                var tname = document.getElementById("item_name").value;
                var selg = document.getElementById("group").value;
                var selc = document.getElementById("category").value;
                var selma = document.getElementById("material_account").value;
                var selcmm = document.getElementById("costing_method_material").value;
                var bn  =  document.getElementById("brand").value;
                var vs  =   document.getElementById("version").value;
                var cl  =   document.getElementById("color").value;
                var sz  =   document.getElementById("size").value;
                var des =    document.getElementById("description").value;
                var ui  =   document.getElementById("uom_in").value;
                var us  =   document.getElementById("uom_stock").value;
                var qi  =   document.getElementById("qty_in").value;
                var qs  =   document.getElementById("qty_stock").value;



                if (tno == '') {
                    console.log("00000item_no")
                    alert("โปรดใส่รหัสวัสดุ")
                    document.getElementById("item_no").focus();
                } else {
                    if (tname == '') {
                        console.log("00000item_name")
                        alert("โปรดใส่ชื่อวัสดุ")
                        document.getElementById("item_name").focus();
                    } else {
                        if (selg == '0') {
                            console.log("00000group")
                            alert("โปรดใส่กลุ่มวัสดุ");
                            document.getElementById("group").focus();
                        } else {
                            if (selc == '0') {
                                console.log("00000category")
                                alert("โปรดใส่ประเภทวัสดุ");
                                document.getElementById("category").focus();
                            } else {
                                if (selma == '0') {
                                    console.log("00000material_account")
                                    alert("โปรดใส่บัญชีวัสดุ");
                                    document.getElementById("material_account").focus();
                                } else {
                                    if (selcmm == '0') {
                                        console.log("00000costing_method_material")
                                        alert("โปรดใส่วิธีคิดต้นทุนวัสดุ");
                                        document.getElementById("costing_method_material").focus();
                                    } else {
                                        if (bn == '') {
                                            console.log("00000brand")
                                            alert("โปรดใส่ยี่ห้อ")
                                            document.getElementById("brand").focus();
                                        } else {
                                            if (vs == '') {
                                                console.log("00000version")
                                                alert("โปรดใส่รุ่น")
                                                document.getElementById("version").focus();
                                            } else {
                                                if (cl == '') {
                                                    console.log("00000color")
                                                    alert("โปรดใส่สี")
                                                    document.getElementById("color").focus();
                                                } else {
                                                    if (sz == '') {
                                                        console.log("00000size")
                                                        alert("โปรดใส่ขนาด")
                                                        document.getElementById("size").focus();
                                                    } else {
                                                        if (des == '') {
                                                            console.log("00000description")
                                                            alert("โปรดใส่ข้อมูลจำเพาะ")
                                                            document.getElementById("description").focus();
                                                        } else {
                                                            if (ui == '0') {
                                                                console.log("00000uom_in")
                                                                alert("โปรดใส่หน่วยซื้อ")
                                                                document.getElementById("uom_in").focus();
                                                            } else {
                                                                if (us == '0') {
                                                                    console.log("00000uom_stock")
                                                                    alert("โปรดใส่หน่วยเก็บ")
                                                                    document.getElementById("uom_stock").focus();
                                                                } else {
                                                                    if (qi == '') {
                                                                        console.log("00000qty_in")
                                                                        alert("โปรดใส่จำนวนซื้อ")
                                                                        document.getElementById("qty_in").focus();
                                                                    } else {
                                                                        if (qs == '') {
                                                                            console.log("00000qty_stock")
                                                                            alert("โปรดใส่จำนวนเก็บ")
                                                                            document.getElementById("qty_stock").focus();
                                                                        } else {
                                                                            console.log("suc selc")
                                                                            var output = 1;
                                                                            return output;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }////////////////////////endvalid

            }


        function comfirmsave() {
            var va = validate();
            console.log(va + " output")
            //if (va == '1') {
            //    $('#myModal').modal('show')
            //}

            //var testttttt = document.getElementById("stock_count").checked
            //var testttttt1 = document.getElementById("overdraw_stock").checked
            //var testtttt2t = document.getElementById("status").checked
            //alert(testttttt + " " + testttttt1 + " " + testtttt2t);
        }
        function aabc() {
           // alert("hello wolrd");
            insertdata()
        }



    function insertdata() {
        console.log("in function")
        //alert("in function")
        ///get input to val


        var material = new Object();
        material.item_no                    = document.getElementById("item_no").value;
        material.item_name                  = document.getElementById("item_name").value;
        material.group                      = document.getElementById("group").value;
        material.category                   = document.getElementById("category").value;
        material.material_account           = document.getElementById("material_account").value;
        material.costing_method_material    = document.getElementById("costing_method_material").value;
        material.stock_count                = document.getElementById("stock_count").checked;
        material.overdraw_stock             = document.getElementById("overdraw_stock").checked;
        material.status                     = document.getElementById("status").checked;
        material.brand                      = document.getElementById("brand").value;
        material.version                    = document.getElementById("version").value;
        material.color                      = document.getElementById("color").value;
        material.size                       = document.getElementById("size").value;
        material.description                = document.getElementById("description").value;
        material.uom_in                     = document.getElementById("uom_in").value;
        material.uom_stock                  = document.getElementById("uom_stock").value;
        material.qty_in                     = document.getElementById("qty_in").value;
        material.qty_stock                  = document.getElementById("qty_stock").value;
        material.picture_path = document.getElementById("blah").alt;
      //  material.picture_file = document.getElementById("fileinput").files[0];


        //var FileUploadModel = new Object();
        //FileUploadModel.filePicture = document.getElementByName("postedFile").value;

        //alert(FileUploadModel);


        console.log(material);
        console.log(material.picture_path+"22222222");

        //////////////////////////////////
        $.ajax({
            // request POST
            type: "POST",
            // Controller/method
            url: '@Url.Action("Createtodata", "Material")',
            //object/parameter with value
            data: JSON.stringify(material),
            contentType: "application/json; charset=utf-8",
            dataType: "json",

            //response from respective action method
            success: function (response) {
                console.log("insert complete");
                alert(response.item_no + "suc" + response.picture_path)
                window.location.href = "/material";
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        })
            };

        </script>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <p>คุณต้องการบันทึกข้อมูลใช่หรือไม่</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-lg btn-success margin-right-15" data-dismiss="modal" onclick="aabc()">ใช่</button>
                        <button type="button" class="btn-lg btn-danger" data-dismiss="modal">ไม่</button>

                    </div>
                </div>

            </div>
        </div>


    </div> <br /><br />

</div>

@section pagespecific {
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {

            var $checkoutForm = $('#checkout-form').validate({
                // Rules for form validation
                rules: {
                    fname: {
                        required: true
                    },
                    lname: {
                        required: true
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    phone: {
                        required: true
                    },
                    country: {
                        required: true
                    },
                    city: {
                        required: true
                    },
                    code: {
                        required: true,
                        digits: true
                    },
                    address: {
                        required: true
                    },
                    name: {
                        required: true
                    },
                    card: {
                        required: true,
                        creditcard: true
                    },
                    cvv: {
                        required: true,
                        digits: true
                    },
                    month: {
                        required: true
                    },
                    year: {
                        required: true,
                        digits: true
                    }
                },

                // Messages for form validation
                messages: {
                    fname: {
                        required: 'Please enter your first name'
                    },
                    lname: {
                        required: 'Please enter your last name'
                    },
                    email: {
                        required: 'Please enter your email address',
                        email: 'Please enter a VALID email address'
                    },
                    phone: {
                        required: 'Please enter your phone number'
                    },
                    country: {
                        required: 'Please select your country'
                    },
                    city: {
                        required: 'Please enter your city'
                    },
                    code: {
                        required: 'Please enter code',
                        digits: 'Digits only please'
                    },
                    address: {
                        required: 'Please enter your full address'
                    },
                    name: {
                        required: 'Please enter name on your card'
                    },
                    card: {
                        required: 'Please enter your card number'
                    },
                    cvv: {
                        required: 'Enter CVV2',
                        digits: 'Digits only'
                    },
                    month: {
                        required: 'Select month'
                    },
                    year: {
                        required: 'Enter year',
                        digits: 'Digits only please'
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });

            var $registerForm = $("#smart-form-register").validate({

                // Rules for form validation
                rules: {
                    username: {
                        required: true
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true,
                        minlength: 3,
                        maxlength: 20
                    },
                    passwordConfirm: {
                        required: true,
                        minlength: 3,
                        maxlength: 20,
                        equalTo: '#password'
                    },
                    firstname: {
                        required: true
                    },
                    lastname: {
                        required: true
                    },
                    gender: {
                        required: true
                    },
                    terms: {
                        required: true
                    }
                },

                // Messages for form validation
                messages: {
                    login: {
                        required: 'Please enter your login'
                    },
                    email: {
                        required: 'Please enter your email address',
                        email: 'Please enter a VALID email address'
                    },
                    password: {
                        required: 'Please enter your password'
                    },
                    passwordConfirm: {
                        required: 'Please enter your password one more time',
                        equalTo: 'Please enter the same password as above'
                    },
                    firstname: {
                        required: 'Please select your first name'
                    },
                    lastname: {
                        required: 'Please select your last name'
                    },
                    gender: {
                        required: 'Please select your gender'
                    },
                    terms: {
                        required: 'You must agree with Terms and Conditions'
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });

            var $reviewForm = $("#review-form").validate({
                // Rules for form validation
                rules: {
                    name: {
                        required: true
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    review: {
                        required: true,
                        minlength: 20
                    },
                    quality: {
                        required: true
                    },
                    reliability: {
                        required: true
                    },
                    overall: {
                        required: true
                    }
                },

                // Messages for form validation
                messages: {
                    name: {
                        required: 'Please enter your name'
                    },
                    email: {
                        required: 'Please enter your email address',
                        email: '<i class="fa fa-warning"></i><strong>Please enter a VALID email addres</strong>'
                    },
                    review: {
                        required: 'Please enter your review'
                    },
                    quality: {
                        required: 'Please rate quality of the product'
                    },
                    reliability: {
                        required: 'Please rate reliability of the product'
                    },
                    overall: {
                        required: 'Please rate the product'
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });

            var $commentForm = $("#comment-form").validate({
                // Rules for form validation
                rules: {
                    name: {
                        required: true
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    url: {
                        url: true
                    },
                    comment: {
                        required: true
                    }
                },

                // Messages for form validation
                messages: {
                    name: {
                        required: 'Enter your name',
                    },
                    email: {
                        required: 'Enter your email address',
                        email: 'Enter a VALID email'
                    },
                    url: {
                        email: 'Enter a VALID url'
                    },
                    comment: {
                        required: 'Please enter your comment'
                    }
                },

                // Ajax form submition
                submitHandler: function (form) {
                    $(form).ajaxSubmit({
                        success: function () {
                            $("#comment-form").addClass('submited');
                        }
                    });
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });

            var $contactForm = $("#contact-form").validate({
                // Rules for form validation
                rules: {
                    name: {
                        required: true
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    message: {
                        required: true,
                        minlength: 10
                    }
                },

                // Messages for form validation
                messages: {
                    name: {
                        required: 'Please enter your name',
                    },
                    email: {
                        required: 'Please enter your email address',
                        email: 'Please enter a VALID email address'
                    },
                    message: {
                        required: 'Please enter your message'
                    }
                },

                // Ajax form submition
                submitHandler: function (form) {
                    $(form).ajaxSubmit({
                        success: function () {
                            $("#contact-form").addClass('submited');
                        }
                    });
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });

            var $loginForm = $("#login-form").validate({
                // Rules for form validation
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true,
                        minlength: 3,
                        maxlength: 20
                    }
                },

                // Messages for form validation
                messages: {
                    email: {
                        required: 'Please enter your email address',
                        email: 'Please enter a VALID email address'
                    },
                    password: {
                        required: 'Please enter your password'
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });

            var $orderForm = $("#order-form").validate({
                // Rules for form validation
                rules: {
                    name: {
                        required: true
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    phone: {
                        required: true
                    },
                    interested: {
                        required: true
                    },
                    budget: {
                        required: true
                    }
                },

                // Messages for form validation
                messages: {
                    name: {
                        required: 'Please enter your name'
                    },
                    email: {
                        required: 'Please enter your email address',
                        email: 'Please enter a VALID email address'
                    },
                    phone: {
                        required: 'Please enter your phone number'
                    },
                    interested: {
                        required: 'Please select interested service'
                    },
                    budget: {
                        required: 'Please select your budget'
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });

            // START AND FINISH DATE
            $('#startdate').datepicker({
                dateFormat: 'dd.mm.yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                onSelect: function (selectedDate) {
                    $('#finishdate').datepicker('option', 'minDate', selectedDate);
                }
            });

            $('#finishdate').datepicker({
                dateFormat: 'dd.mm.yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                onSelect: function (selectedDate) {
                    $('#startdate').datepicker('option', 'maxDate', selectedDate);
                }
            });



        })

    </script>
}