@*@model KKN_UI.Models.materialModel
    @model KKN_UI.Models.FileUploadModel*@


@{
    //materialModel result = Model;
    //List<groupmaterial> result = Model;
    MaterialSQLindex result = Model;
    //FileUploadModel fileresult = Model;
}
@{
    ViewBag.Title = "Creatematerial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #Msg_ajaxloader {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba( 255, 255, 255,0.5 ) url('/img/loadingclock.gif') 50% 50% no-repeat;
    }

    #content_ajaxloader {
        position: fixed;
        z-index: 1 !important;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba( 255, 255, 255,0.5 ) url('/content/img/Quarter-Circle-Loading-Image-1.gif') 50% 50% no-repeat;
    }

    body:not(.menu-on-top).desktop-detected {
        min-height: 0px !important;
    }

    .desktop-detected .inbox-body .table-wrap {
        min-height: 770px !important;
    }

    .status .comments li {
        border-bottom: 1px solid rgba(0,0,0,0);
        display: block;
        padding: 15px 0 15px 40px;
        position: relative;
    }

    .classli:hover {
        background: #ddd;
        cursor: pointer;
    }

    label:hover {
        cursor: pointer;
    }

    .carousel-indicators li {
        border-color: #999;
        background-color: #ccc;
    }

    .carousel-indicators {
        position: absolute;
        bottom: 10px;
        left: 50%;
        z-index: 15;
        /* width: 60%; */
        margin-left: -30%;
        padding-left: 0;
        list-style: none;
        text-align: center;
    }

    .MessageCenter {
        padding: 12px 10px 8px 10px !important;
    }


    @@media (min-width: 1332px) {
        .col-lg-3 {
            width: 33.33%;
        }

        .col-lg-6 {
            width: 66.66%;
        }
    }

    @@media (min-width: 1500px) {
        .col-lg-3 {
            width: 25%;
        }

        .col-lg-6 {
            width: 50%;
        }
    }

    .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
    }

    .fix-iconsize {
        font-size: 40px;
        width: 40px;
        height: 40px;
        padding-top: 10px;
    }

    @@media (max-width: 769px) {
        .fix-iconsize {
            font-size: 40px;
            width: 40px;
            height: 40px;
            padding-top: 10px;
        }

        .home-title {
            display: none;
        }
    }

    .form-group {
        margin-top: 10px;
    }

    .fix-margintop {
        margin-bottom: 40px;
    }

    .form-horizontal .form-group {
        margin-left: 20px !important;
        margin-right: 0px !important;
    }

    .fix-flaticon {
        font-size: 10px;
    }

    /*.validateclass {*/
    /*border-style: 5px !solid;*/
    /*border-color: red;
            border: 1px solid;
            border-radius: 5px;
        }*/

    /*   input.invalid {
            border-color: red;
            border: 1px solid;
            border-radius: 5px;
        }
    */
    input[type=text].invalid {
        /*box-sizing: border-box;*/
        border: 2px solid red;
        border-radius: 4px;
    }

    select.invalid {
        border: 2px solid red;
        border-radius: 4px;
    }

    input[type=text].valid {
        /*box-sizing: border-box;*/
        border: 2px solid #49C204;
        border-radius: 4px;
    }

    select.valid {
        border: 2px solid #49C204;
        border-radius: 4px;
    }
</style>

<div id="content" style="opacity: 1;background-color:white;min-height:82vh;">
    @*  <div class="container">*@
    <div class="row margin-top-10 margin-left-10">
        <div class="row">
            <h3>
                <i class="fa fa-cube"></i> &nbsp; <span style="color:forestgreen;">เพิ่มวัสดุอุปกรณ์ใหม่</span>
                @*<i class="fa fa-chevron-right"></i>
                    <span style="color:blue;">รายละเอียดวัสดุ </span> &nbsp;
                    <span>sdfsdfsdfsdfdsssdf </span>*@  &nbsp;&nbsp;
                <a href="@Url.Action("Index", "Material")">Back</a>
            </h3>
        </div>
    </div>

    <div class="row margin-top-10">
        <form class="form-horizontal margin-top-10 padding-5" id="checkout-form">
            <div class="col-lg-8" id="horizonform">
                <style>
                    #horizonform {
                        border-style: ridge;
                        border-width: 2px;
                    }

                    #horizonform2 {
                        border-style: ridge;
                        border-width: 2px;
                    }

                    #hrw {
                        display: block;
                        border-bottom: 1px dashed
                    }
                </style>

                @*<form class="form-horizontal">*@
                <h3 id="hrw">วัสดุ</h3>
                @*<input type="text" class="form-control hidden" id="id" name="id" maxlength="5">*@
                <div class="form-group">
                    <label class="control-label col-sm-2" for="item_no">รหัสวัสดุ<span style="color:red; ">*</span></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control " id="item_no" placeholder="ระบุ รหัสวัสดุ" name="item_no" maxlength="5">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="item_name">ชื่อวัสดุ<span style="color:red; ">*</span></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="item_name" placeholder="ระบุ ชื่อวัสดุ" name="item_name" maxlength="100">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="group">กลุ่มวัสดุ<span style="color:red; ">*</span></label>
                    <div class="col-sm-4">
                        <select class="form-control" id="group" name="group" onchange="myselect(this)">
                            <option disabled value="0" selected>เลือกกลุ่มวัสดุ</option>
                            @foreach (var item in result.GroupSQLlist)
                            {
                                <option value="@item.group_id ">@item.group_name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="category">ประเภทวัสดุ<span style="color:red; ">*</span></label>
                    <div class="col-sm-4">
                        <select class="form-control" id="category" name="category" onchange="console.log(document.getElementById('category').value + 'select category')">
                            <option disabled value="0" id="dontcate" selected>เลือกประเภทวัสดุ</option>
                            @foreach (var item in result.CategorySQLlist)
                            {
                                <option value="@item.category_id" style="display:none" id="@item.group_id">@item.category_name</option>
                            }
                        </select>
                    </div>
                </div>

                <script>
                    function myselect(th) {
                        console.log("select");
                        document.getElementById("category").options.selectedIndex = 0;
                        var sc = document.getElementById("category");
                        var sg = document.getElementById("group").value;

                        getSelectedOptions(sc, sg)
                        document.getElementById("dontcate").select = true;
                    }

                    function getSelectedOptions(select, option) {
                        var result = [];
                        var options = select.getElementsByTagName('option');
                        for (var i = 0; i < options.length; i++) {
                            options[i].style.display = "none";
                            for (var k = 0; k < select.length; k++) {
                                if (option == k && options[i].id == k) {
                                    console.log("option" + k)
                                    options[i].style.display = "block";
                                }
                            }
                        }
                    }
                </script>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="material_account">บัญชีวัสดุ<span style="color:red; ">*</span></label>
                    <div class="col-sm-4">
                        <select class="form-control" id="material_account" name="material_account">
                            <option disabled value="0" selected>เลือกบัญชีวัสดุ</option>
                            @foreach (var item in result.Material_accSQLlist)
                            {
                                <option value="@item.material_acc_id ">@item.material_acc_name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="costing_method_material">วิธีคิดต้นทุนวัสดุ<span style="color:red; ">*</span></label>
                    <div class="col-sm-4">
                        <select class="form-control" id="costing_method_material" name="costing_method_material">
                            <option disabled value="0" selected>เลือกวิธีคิดต้นทุนวัสดุ</option>
                            @foreach (var item in result.Costing_methodSQL_list)
                            {
                                <option value="@item.costing_method_id ">@item.costing_method_name</option>
                            }
                        </select>
                    </div>
                </div>
                <style>
                    select option[disabled]:first-child {
                        display: none;
                    }
                </style>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label><input type="checkbox" id="stock_count" name="stock_count"> วัสดุนับสต๊อก</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label><input type="checkbox" id="overdraw_stock" name="overdraw_stock"> ให้เบิกเกินสต๊อกได้</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label><input type="checkbox" id="status" name="status"> ใช้งานวัสดุ</label>
                        </div>
                    </div>
                </div>


                <h3 id="hrw">รายละเอียดวัสดุเพิ่มเติม</h3>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="brand">ยี่ห้อ:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="brand" placeholder="ระบุ ยี่ห้อ" name="brand">
                    </div>

                    <label class="control-label col-sm-2" for="version">รุ่น:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="version" placeholder="ระบุ รุ่น" name="version">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="color">สี:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="color" placeholder="ระบุ สี" name="color">
                    </div>
                    <label class="control-label col-sm-2" for="size">ขนาด:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="size" placeholder="ระบุ ขนาด" name="size">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="description">ข้อมูลจำเพาะ:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="3" id="description" placeholder="ระบุข้อมูลจำเพาะ"></textarea>
                    </div>
                </div>
                @*</form>*@

            </div>
            <div class="col-lg-4">
                <div id="horizonform2">
                    @*<form class="form-horizontal margin-top-10 padding-5" id="horizonform">*@
                    <h3 class="margin-left-10" id="hrw">หน่วยวัสดุ</h3>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="uom_in">หน่อยซื้อ<span style="color:red; ">*</span></label>
                        <div class="col-sm-8">
                            <select class="form-control" id="uom_in" name="uom_in" onchange="uom_inchange()">
                                <option disabled value="0" selected>เลือกหน่วยซื้อ</option>
                                @foreach (var item in result.UomSQL_list)
                                {
                                    <option value="@item.uom_id ">@item.uom_name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <script>
                        /////functionchangeuom
                        function uom_inchange() {
                            var uom_inchange = document.getElementById("uom_in");
                            var uon_in_select = uom_inchange.selectedIndex;
                            document.getElementById("qty_inshow").innerHTML = uom_inchange.options[uon_in_select].text;
                            console.log("หน่วยซื้อ " + uom_inchange.options[uon_in_select].text);
                            document.getElementById("uom_stock").selectedIndex = uon_in_select;
                            document.getElementById("qty_stockshow").innerHTML = uom_inchange.options[uon_in_select].text;

                        }
                        function uom_stockchange() {
                            var uom_stockchange = document.getElementById("uom_stock");
                            var uon_stock_select = uom_stockchange.selectedIndex;
                            document.getElementById("qty_stockshow").innerHTML = uom_stockchange.options[uon_stock_select].text;
                            console.log("หน่วยเก็บ " + uom_stockchange.options[uon_stock_select].text);

                        }
                    </script>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="uom_stock">หน่วยเก็บ<span style="color:red; ">*</span></label>
                        <div class="col-sm-8">
                            <select class="form-control" id="uom_stock" name="uom_stock" onchange="uom_stockchange()">
                                <option disabled value="0" selected>เลือกหน่วยเก็บ</option>
                                @foreach (var item in result.UomSQL_list)
                                {
                                    <option value="@item.uom_id ">@item.uom_name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-xs-4">
                            <input type="text" class="form-control" id="qty_in" value="1.0" name="qty_in">
                        </div>
                        @*<label class="control-label col-sm-1 col-xs-1 text-align-left" id="qty_inshow" for="qty_in">หน่วย</label>*@
                        <label class="control-label col-sm-1 col-xs-1" style="text-align:left" id="qty_inshow" for="qty_in">หน่วย</label>

                        <div class="col-sm-1 col-xs-1">
                            <p style="color: blue; margin-top: 7px; margin-left:5px">&#9868;</p>
                        </div>

                        <div class="col-sm-4 col-xs-4">
                            <input type="text" class="form-control" id="qty_stock" value="1.0" name="qty_stock">
                        </div>

                        <label class="control-label col-sm-1 col-xs-1 text-align-left" id="qty_stockshow" for="qty_stock">หน่วย</label>
                    </div>
                    @*</form>*@


                    @*<form class="form-horizontal margin-top-10 padding-5" id="horizonform">*@
                    <h3 class="margin-left-10" id="hrw">รูปภาพวัสดุ</h3>

                    <div class="margin-left-10 margin-right-10" id="qqqq" style="border-style: dashed; border-width: 1px; margin-bottom:5px" onclick="importData()">
                        <img id="blah" src="#" alt="" style="display: none; max-width: 100%" />
                        <p id="pdisplay"><br /><br /></p>
                        <input class="hidden" type="file" id="input" name="file" value="" />
                    </div>
                    <br />
                    @*<input id="fileinput" type="file" name="name" class="hidden"/>*@


                    <script>
                        function importData() {
                            //let input = document.createElement('input');
                            //input.type = 'file';
                            //input.name = 'file';
                            //input.id = 'file';

                            let input = document.getElementById('input');
                            var ffill = document.getElementById('input').value;
                            input.onchange = evt => {
                                const [file] = input.files
                                if (file) {
                                    blah.src = URL.createObjectURL(file)
                                    blah.alt = (file.name)
                                }
                                let files = Array.from(input.files);
                                console.log(files);
                                console.log(input.files);

                                console.log(file.name);
                                console.log(file.size);
                                console.log(file.type);


                                const reader = new FileReader();
                                reader.addEventListener("load", () => {
                                    console.log("111111111");
                                    console.log(reader.result);
                                    localStorage.setItem("recent-image", reader.result);
                                });

                                //console.log("open");
                                //reader.readAsDataURL(this.file);
                                //console.log("off");



                                document.getElementById("blah").style.display = "block";
                                document.getElementById("pdisplay").style.display = "none";
                                var elementqqqq = document.getElementById('qqqq');
                                elementqqqq.style.removeProperty("border-style");
                                elementqqqq.style.removeProperty("border-width");
                                elementqqqq.style.removeProperty("margin-bottom");

                                //var returnfilename = file.name
                                //return returnfilename
                            };

                            input.click();


                        }

                    </script>


                </div>
                @*</form>*@

                <div class="row">
                    <div class="col-xs-6"></div>
                    <div class="col-xs-5 ">
                        <button class="btn-lg btn-success pull-right margin-top-10" style="margin:5px;" onclick="validatedata()">validate</button>
                    </div>
                    <div class="col-xs-1"></div>

                </div>

            </div>
        </form>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <p>คุณต้องการบันทึกข้อมูลใช่หรือไม่</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-lg btn-success margin-right-15 checkout-form" data-dismiss="modal" onclick="aabc()">ใช่</button>
                    <button type="button" class="btn-lg btn-danger" data-dismiss="modal">ไม่</button>

                </div>
            </div>
        </div>
    </div>


    <div class="row margin-top-10 margin-bottom-10 ">

        <button class="btn-lg btn-success " style="margin:5px;" onclick="comfirmsave()">บันทึก</button>

    </div> <br /><br />

    <script>

        function comfirmsave() {
            //var va = validate();

            //validatedata()
            //var va =  validatedata()
            //alert(va)


            //var va = validatedata()
            //if (va == '1') {
                $('#myModal').modal('show')
            //}



            //var testttttt = document.getElementById("stock_count").checked
            //var testttttt1 = document.getElementById("overdraw_stock").checked
            //var testtttt2t = document.getElementById("status").checked
            //alert(testttttt + " " + testttttt1 + " " + testtttt2t);
        }
        function aabc() {
           // alert("hello wolrd");
            insertdata()
        }



    function insertdata() {
        console.log("in function")
        //alert("in function")
        ///get input to val
        var material = new Object();
        material.item_no            = document.getElementById("item_no").value;
        material.item_name          = document.getElementById("item_name").value;
        material.group_id           = document.getElementById("group").value;
        material.category_id        = document.getElementById("category").value;
        material.material_acc_id    = document.getElementById("material_account").value;
        material.costing_method_id  = document.getElementById("costing_method_material").value;
        material.description        = document.getElementById("description").value;
        material.status             = document.getElementById("status").checked;
        material.stock_count        = document.getElementById("stock_count").checked;
        material.overdraw_stock     = document.getElementById("overdraw_stock").checked;
        material.brand              = document.getElementById("brand").value;
        material.version            = document.getElementById("version").value;
        material.color              = document.getElementById("color").value;
        material.size               = document.getElementById("size").value;
        material.uom_in             = document.getElementById("uom_in").value;
        material.uom_stock          = document.getElementById("uom_stock").value;
        material.qty_in             = document.getElementById("qty_in").value;
        material.qty_stock          = document.getElementById("qty_stock").value;
        material.picture_path       = document.getElementById("blah").alt;


        var file_data = $('#input').prop('files')[0];
        var form_data = new FormData();
        form_data.append('file', file_data);
        console.log('form_data');
        alert(form_data);
        //form_data.append('eventmodel', material)
        form_data.append('material.item_no', material.item_no)
        form_data.append('material.item_name', material.item_name)
        form_data.append('material.group_id', material.group_id)
        form_data.append('material.category_id', material.category_id)
        form_data.append('material.material_acc_id', material.material_acc_id)
        form_data.append('material.costing_method_id', material.costing_method_id)
        form_data.append('material.description', material.description)
        form_data.append('material.status', material.status)
        form_data.append('material.stock_count', material.stock_count)
        form_data.append('material.overdraw_stock', material.overdraw_stock)
        form_data.append('material.brand', material.brand)
        form_data.append('material.version', material.version)
        form_data.append('material.color', material.color)
        form_data.append('material.size', material.size)
        form_data.append('material.uom_in', material.uom_in)
        form_data.append('material.uom_stock', material.uom_stock)
        form_data.append('material.qty_in', material.qty_in)
        form_data.append('material.qty_stock', material.qty_stock)
        //form_data.append('material.picture_path', material.picture_path)

        @*$.ajax({
            url: '@Url.Action("Createfile", "Material")',
            dataType: 'text',
            cache: false,
            contentType: false,
            processData: false,
            data: form_data,
            type: 'post',
            success: function (data) {
                if (data.success) {
                    alert("success");
                } else {
                    alert("error");
                }
                alert(data);
            }
        });*@


        //var myFormData = new FormData();
        //myFormData.append('pictureFile', pictureInput.files[0]);

        //$.ajax({
        //    url: 'upload.php',
        //    type: 'POST',
        //    processData: false, // important
        //    contentType: false, // important
        //    dataType: 'json',
        //    data: myFormData
        //});


        //////////////////////////////////
        $("#content_ajaxloader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("Createtodata", "Material")',
            //data: JSON.stringify(material),
            //dataType: 'text',
            cache: false,
            processData: false,
            contentType: false,
            data: form_data,
            //contentType: "application/json; charset=utf-8",
            //dataType: "json",

            success: function (response) {
                console.log("response");
                console.log(response);
                //if (response.output == 0) {
                //    alert('รหัสวัสดุ มีบันทึกอยู่แล้ว');

                //    $("#content_ajaxloader").fadeOut("fast");
                //    return;
                //}

                if (response.output.msg == 2) {
                    alert('รหัสวัสดุ มีบันทึกอยู่แล้ว');

                    $("#content_ajaxloader").fadeOut("fast");
                    return;
                } else if (response.output.msg == 3) {

                    alert('รายละเอียด มีบันทึกอยู่แล้ว');

                    $("#content_ajaxloader").fadeOut("fast");
                    return;
                }


                console.log("insert complete");
                console.log(response.output1);

                $("#content_ajaxloader").fadeOut("fast");
                alert("บันทึกเรียบร้อย")
                alert(response.item_no + "suc" + response.picture_path)
                window.location.href = "/material/Creatematerial";
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
            };

    </script>

    @*</div>*@
</div>

@section pagespecific {
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!


        //$(document).ready(validatedata());


        function validatedata() {
            //function validatedata() {
            console.log("val function")

            var checkoutForm = $('#checkout-form').validate({
                //var $checkoutForm = $('#checkout-form').validate({
                //validClass: 'validateclass',

                // Rules for form validation
                rules: {
                    item_no: {
                        required: true
                        //,highlight: function (element, errorClass, validClass) {
                        //    $('#item_no').addClass('validateclass');
                        //}
                    },
                    item_name: {
                        required: true
                    },
                    group: {
                        required: true
                    },
                    category: {
                        required: true
                    },
                    material_account: {
                        required: true
                    },
                    costing_method_material: {
                        required: true
                    },
                    uom_in: {
                        required: true
                    },
                    //uom_stock: {
                    //    required: true
                    //},
                    qty_in: {
                        required: true
                    },
                    qty_stock: {
                        required: true
                    }
                },
                // Messages for form validation
                messages: {
                    item_no: {
                        required: '<span style="color:red;">โปรดใส่รหัสวัสดุ</span>'
                    },
                    item_name: {
                        required: '<span style="color:red;">โปรดใส่ชื่อวัสดุ</span>'
                    },
                    group: {
                        required: '<span style="color:red;">โปรดใส่กลุ่มวัสดุ</span>'
                    },
                    category: {
                        required: '<span style="color:red;">โปรดใส่ประเภทวัสดุ</span>'
                    },
                    material_account: {
                        required: '<span style="color:red;">โปรดใส่บัญชีวัสดุ</span>'
                    },
                    costing_method_material: {
                        required: '<span style="color:red;">โปรดใส่วิธีคิดต้นทุนวัสดุ</span>'
                    },
                    uom_in: {
                        required: '<br /><br /><span style="color:red;">โปรดใส่หน่วยซื้อ</span>'
                    },
                    //uom_stock: {
                    //    required: '<br /><br /><span style="color:red;">โปรดใส่หน่วยเก็บ</span>'
                    //},
                    qty_in: {
                        required: '<span style="color:red;">โปรดใส่จำนวนซื้อ</span>'
                    },
                    qty_stock: {
                        required: '<span style="color:red;">โปรดใส่จำนวนเก็บ</span>'
                    }


                }
                , success: function (element) {

                    // or maybe this
                    // $(element).closest('.control-group').find('.help-block').hide();
                    // but you'll need a ".show()" at the end of your line in "errorPlacement"
                }

                ,
                // Do not change code below
                errorPlacement: function (error, element) {

                    error.insertAfter(element.parent());
                    //error.removeClass('validateclass');

                }

            })
            console.log(checkoutForm + "checkoutForm");
            alert(checkoutForm + "checkoutForm");
        }


    </script>
}

