@{
    //List<materialModel> result = Model;
    MaterialSQLindex result = Model;
    //List<mateview> result = Model;
    //List<groupmaterial> result2 = Model;
}
@*@model IEnumerable<KKN_UI.Models.MaterialSQLindex>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #Msg_ajaxloader {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba( 255, 255, 255,0.5 ) url('/img/loadingclock.gif') 50% 50% no-repeat;
    }

    #content_ajaxloader {
        position: fixed;
        z-index: 1 !important;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba( 255, 255, 255,0.5 ) url('/content/img/Quarter-Circle-Loading-Image-1.gif') 50% 50% no-repeat;
    }


    body:not(.menu-on-top).desktop-detected {
        min-height: 0px !important;
    }

    .desktop-detected .inbox-body .table-wrap {
        min-height: 770px !important;
    }

    .status .comments li {
        border-bottom: 1px solid rgba(0,0,0,0);
        display: block;
        padding: 15px 0 15px 40px;
        position: relative;
    }

    .classli:hover {
        background: #ddd;
        cursor: pointer;
    }

    label:hover {
        cursor: pointer;
    }

    .carousel-indicators li {
        border-color: #999;
        background-color: #ccc;
    }

    .carousel-indicators {
        position: absolute;
        bottom: 10px;
        left: 50%;
        z-index: 15;
        /* width: 60%; */
        margin-left: -30%;
        padding-left: 0;
        list-style: none;
        text-align: center;
    }

    .MessageCenter {
        padding: 12px 10px 8px 10px !important;
    }


    @@media (min-width: 1332px) {
        .col-lg-3 {
            width: 33.33%;
        }

        .col-lg-6 {
            width: 66.66%;
        }
    }

    @@media (min-width: 1500px) {
        .col-lg-3 {
            width: 25%;
        }

        .col-lg-6 {
            width: 50%;
        }
    }

    .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
    }

    .fix-iconsize {
        font-size: 40px;
        width: 40px;
        height: 40px;
        padding-top: 10px;
    }

    @@media (max-width: 769px) {
        .fix-iconsize {
            font-size: 40px;
            width: 40px;
            height: 40px;
            padding-top: 10px;
        }

        .home-title {
            display: none;
        }
    }

    .form-group {
        margin-top: 10px;
    }

    .fix-margintop {
        margin-bottom: 40px;
    }

    .form-horizontal .form-group {
        margin-left: 20px !important;
        margin-right: 0px !important;
    }

    .fix-flaticon {
        font-size: 10px;
    }

    /*.validateclass {*/
    /*border-style: 5px !solid;*/
    /*border-color: red;
            border: 1px solid;
            border-radius: 5px;
        }*/

    /*   input.invalid {
            border-color: red;
            border: 1px solid;
            border-radius: 5px;
        }
    */
    input[type=text].invalid {
        /*box-sizing: border-box;*/
        border: 2px solid red;
        border-radius: 4px;
    }

    select.invalid {
        border: 2px solid red;
        border-radius: 4px;
    }

    input[type=text].valid {
        /*box-sizing: border-box;*/
        border: 2px solid #49C204;
        border-radius: 4px;
    }

    select.valid {
        border: 2px solid #49C204;
        border-radius: 4px;
    }
</style>

<div id="content" style="opacity: 1;background-color:white;min-height:82vh;">
    @*<div class="container">*@
    <div class="row margin-top-10  ">
        @*<div class="col-lg-3 hidden-md hidden-sm hidden-xs"></div>*@

        <div class="col-lg-12  col-md-12 col-sm-12">
            <div class="row col-lg-4 col-md-4  col-sm-12 col-xs-12" style="padding: 2.5px; margin-right: 15px">
                <input type="search" id="searchinpuit" class="form-control" placeholder="ค้นหา" aria-controls="dt_basic" onkeyup="keyupser(this)">
            </div>

            <div class="row col-lg-2 col-md-2 col-sm-12 hidden-xs" style="padding: 2.5px; margin-right:15px">
                <select class="form-control" id="selgroup" name="selgroup" @*onchange="selgr(this)"*@ onchange="myselect(this)">
                    <option disabled selected value="เลือกกลุ่มวัสดุ">เลือกกลุ่มวัสดุ</option>
                    <option value="">ทั้งหมด</option>
                    @foreach (var itemgroup in result.GroupSQLlist)
                    {
                        <option value="@itemgroup.group_id">@itemgroup.group_name </option>
                    }
                </select>
            </div>


            <div class="row col-lg-2 col-md-2 col-sm-12  hidden-xs" style="padding: 2.5px; margin-right: 15px">
                <select class="form-control" id="selcategory" name="selcategory" onchange="selcat(this)">
                    <option id="dontcate" disabled selected value="">ไม่พบประเภทวัสดุ</option>
                    <option style="display:none" id="selcatall" value="">ทั้งหมด</option>
                    @*@foreach (var itemcategory in result.CategorySQLlist)
                        {
                            <option value="@itemcategory.category_id" name="opcate" style="display:none" id="@itemcategory.group_id">@itemcategory.category_name</option>
                        }*@
                </select>
            </div>

            <script>
                function AddoptionC() {
                    var sg = document.getElementById("selgroup").value;
                 $('#content_ajaxloader').fadeIn();
            @*$.ajax({
                type: "POST",
                url: '@Url.Action("_selectcategory", "Material")',
                dataType: 'html',
                data: {id:sg},
                success: function (result) {
                    //$('#selcategory').html('');
                    //$('#selcategory').html(result);
                    $('#selcategory').load('_selectcategory');
                }
                  });*@

                    $("#selcategory").load('@Url.Action("_selectcategory", "Material")',  { id: sg}, function (result) {
                        $('#content_ajaxloader').fadeOut();
                    });

                }





            </script>

            <script>
                function myselect(th) {
                    console.log("select");
                    document.getElementById("selcategory").options.selectedIndex = 0;
                    selcat(document.getElementById("selcategory"))
                    var sc = document.getElementById("selcategory");
                    var sg = document.getElementById("selgroup").value;

                    getSelectedOptions(sc, sg)
                    document.getElementById("dontcate").select = true;
                    selgr(th)
                    AddoptionC()
                }

                function getSelectedOptions(select, option) {
                    var result = [];
                    var options = select.getElementsByTagName('option');
                    for (var i = 0; i < options.length; i++) {
                        options[i].style.display = "none";
                        if (document.getElementById("selgroup").value != "") {
                            document.getElementById("selcatall").style.display = "block"
                        }

                        /////////
                        for (var k = 0; k < select.length; k++) {
                            if (option == k && options[i].id == k) {
                                console.log("option" + k)
                                options[i].style.display = "block";
                            }
                        }
                        /////////
                        //if (option == "1" && options[i].id == "1") {
                        //    console.log("optien 1")
                        //    options[i].style.display = "block";
                        //} else if (option == "2" && options[i].id == "2") {
                        //    console.log("optien 2")
                        //    options[i].style.display = "block";
                        //} else if (option == "3" && options[i].id == "3") {
                        //    console.log("optien 3")
                        //    options[i].style.display = "block";
                        //} else if (option == "4" && options[i].id == "4") {
                        //    console.log("optien 4")
                        //    options[i].style.display = "block";
                        //} else if (option == "5" && options[i].id == "5") {
                        //    console.log("optien 5")
                        //    options[i].style.display = "block";
                        //} else if (option == "6" && options[i].id == "6") {
                        //    console.log("optien 6")
                        //    options[i].style.display = "block";
                        //} else if (option == "7" && options[i].id == "7") {
                        //    console.log("optien 7")
                        //    options[i].style.display = "block";
                        //} else if (option == "8" && options[i].id == "8") {
                        //    console.log("optien 8")
                        //    options[i].style.display = "block";
                        //}
                    }
                }


                function keyupser(keyupser) {
                    console.log("ค้นหา " + keyupser.value)
                    var table1ser = $('#dt_basic').DataTable();
                    table1ser.search(keyupser.value).draw();
                }

                function selgr(b) {

                    //var categoryselect = document.getElementById("selcategory")
                    //var groupselect = b.value

                    //$(categoryselect).each(function () {
                    //    if ($(this).valuegroup == vehicleValue) {
                    //        $(brandsSelect).append($(this));
                    //    }
                    //}

                    console.log(b.value);
                    //document.getElementById("selcategory").value = b.value
                    if (b.value != "") {

                        var table2ser = $('#dt_basic').DataTable();
                        table2ser.column(2).search(b.options[b.selectedIndex].text).draw();


                    } else {
                        var table2ser = $('#dt_basic').DataTable();
                        table2ser.column(2).search(b.value).draw();

                    }

                    ////////////
                    //if (b.valuegroup = document.getElementById("opcate").valuegroup)
                    //{
                    //    document.getElementById("opcate").disabled = false;

                    //}
                    ////////////
                    console.log("ค้นหากลุ่ม" + b.options[b.selectedIndex].text)
                    console.log("ค้นหากลุ่ม" + b.value + "out")

                }

                function selcat(c) {
                    if (c.value != "") {
                        var table1ser = $('#dt_basic').DataTable();
                        table1ser.column(3).search(c.options[c.selectedIndex].text).draw();
                    } else {
                        var table1ser = $('#dt_basic').DataTable();
                        table1ser.column(3).search(c.value).draw();
                    }
                    console.log("ค้นหาประเภท" + c.options[c.selectedIndex].text)
                    console.log("ค้นหากลุ่ม" + c.value + "out")
                }


            </script>
            @*<button onclick="insertoption()"> 111111</button>*@


            <style>
                select option[disabled]:first-child {
                    display: none;
                }
            </style>


            @*<div class="hidden-lg hidden-md col-sm-10 hidden-xs "></div>
                <div class="row col-lg-1 col-md-1 col-sm-2 col-xs-1 " style="padding: 2.5px;">
                    <button class="btn btn-primary  float-right"><i class="fa-fw fa fix-icon-aside-size fa  fa-search"></i> ค้นหา</button>
                </div>*@
            <div class="row  col-lg-2 col-md-2 col-sm-2 col-xs-2 float-right text-right" style="padding: 2.5px;"><a @*href='@Url.Action("Editmaterial", "Material")'*@ class="btn btn-primary glyphicon">จัดการบัญชีวัสดุ</a></div>
            <div class="hidden-lg hidden-md col-sm-8 col-xs-4 "></div>
            <div class="row  col-lg-2 col-md-2 col-sm-2 col-xs-2 float-right text-right" style="padding: 2.5px; "><a href='@Url.Action("Creatematerial", "Material")' class="btn btn-success glyphicon glyphicon-plus">เพิ่มวัสดุใหม่</a></div>


            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row col-xs-6 col-sm-4 col-md-2 col-lg-2  " style="padding: 2.5px;">
                    <button class="btn btn-primary" onclick="AddPanel('#panel-div')">จัดการกลุ่ม</button>
                </div>
                <div class="row col-xs-6 col-sm-4 col-md-2 col-lg-2  " style="padding: 2.5px;">
                    <button class="btn btn-primary" onclick="AddPanelcate()">จัดการประเภท</button>
                </div>

            </div>
        </div>








        @* partial *@
        <div class="cd-panel cd-panel--from-right js-cd-panel-main">
            <div id="panel-div">
            </div>
        </div>
        @* modal *@
        <div class="modal fade" id="Modal" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" style="z-index: 8001 !important;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" style="overflow: hidden;" id="Modal_Content">

                </div>
            </div>
        </div>
        @* confirm *@
        <div class="modal fade" id="Modalconfirm" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" style="z-index: 8002 !important;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" style="overflow: hidden;" id="Modal_Content_confirm">

                </div>
            </div>
        </div>



        <script>
             function AddPanel(id) {
                 $('#content_ajaxloader').fadeIn();
            $.ajax({
                type: "POST",
                url: '@Url.Action("_groupView", "Material")',
                dataType: 'html',
                data: {},
                success: function (result) {
                    $(id).html('');
                    $('#panel-div').html(result);
                    $('.cd-panel').addClass("cd-panel--is-visible"); //แสดงแถบ right Panel$('#Modal').modal('show');
                    $('#content_ajaxloader').fadeOut();
                }
            });
            }

            function jaxloaderin() {
                $('#content_ajaxloader').fadeIn();
            }
             function AddPanelcate() {
                 jaxloaderin();
            $.ajax({
                type: "POST",
                url: '@Url.Action("_categoryView", "Material")',
                dataType: 'html',
                data: {},
                success: function (result) {
                    $('#panel-div').html('');
                    $('#panel-div').html(result);
                    $('.cd-panel').addClass("cd-panel--is-visible"); //แสดงแถบ right Panel$('#Modal').modal('show');
                    $('#content_ajaxloader').fadeOut();
                }
            });
        }
        </script>















    </div>
    @*</div>*@


    @*<div class="container margin-top-5">*@
    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row margin-top-5">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <style>
                    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
                        background-color: #8adafe;
                    }
                </style>
                <table id="dt_basic" class="table table-striped  table-bordered table-hover margin-top-10" width="100%">

                    <thead>
                        <tr>
                            <th data-hide="phone">#</th>
                            <th data-class="expand">รหัส</th>
                            <th data-hide="phone,tablet"><i class="fa fa-fw fa-reorder text-muted hidden-md hidden-sm hidden-xs"></i> กลุ่ม</th>
                            <th data-hide="phone,tablet"><i class="fa fa-fw fa-bicycle text-muted hidden-md hidden-sm hidden-xs"></i> ประเภท</th>
                            <th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> รายการวัสดุ</th>
                            <th data-hide="phone"><i class="fa fa-fw fa-bicycle text-muted hidden-md hidden-sm hidden-xs"></i> สถานะ</th>


                            @*<th data-hide="phone"><i class="fa fa-fw fa-bicycle text-muted hidden-md hidden-sm hidden-xs"></i> Category</th>*@
                            @*<th data-hide="phone,tablet"><i class="fa fa-fw fa-map-marker txt-color-blue hidden-md hidden-sm hidden-xs"></i> Stocks</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Modal ---------------------------------------------------->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content1">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Modal Header</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>This is a large modal.</p>
                                        <input type="text" class="form-control" id="recipient-name" />
                                        <div id="span1" class="span1"></div>
                                        <div id="span12" class="span12"></div>
                                        <div id="span13" class="span13"></div>
                                        <div id="span14" class="span14"></div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal
                        --------------------------------------------------->

                        @{ int i = 1;
                            foreach (var item in result.MaterialSQLlist)
                            {
                                @*
                                    <tr class="trid" id="@item.materialModeldata.item_name" onclick="location.href='@Url.Action("Editmaterial", "Material", new { id = item.materialModeldata.item_no })'">
                                        <td class="stu_numrec" width="5%"> @i </td>
                                        <td class="stu_no" width="10%"> @item.materialModeldata.item_no   </td>
                                        <td class="stu_group" width="10%" value="@item.groupmaterialdata.group_id">@item.groupmaterialdata.group_name</td>
                                        <td class="stu_category" width="15%" value="@item.categorymaterialdata.category_id">@item.categorymaterialdata.category_name</td>
                                        <td class="stu_des" width="50%">@item.materialModeldata.item_name @item.materialModeldata.size @item.materialModeldata.brand @item.materialModeldata.color @item.materialModeldata.version</td>
                                        <td class="stu_status @(item.materialModeldata.status? "btn-success": "btn-danger")" width="5%" > @(item.materialModeldata.status ? "ใช้งาน": "ไม่ใช้")  </td>
                                    </tr>*@

                                <tr class="trid" id="@item.item_name" onclick="location.href='@Url.Action("Editmaterial", "Material", new { id = item.item_no })'">
                                    <td class="stu_numrec" width="5%">@*@Url.Content(string.Format("{0}", i++))*@ @i </td>
                                    <td class="stu_no" width="10%"> @item.item_no   </td>
                                    <td class="stu_group" width="10%" value="@item.GroupSQLModel.group_id">@item.GroupSQLModel.group_name</td>
                                    <td class="stu_category" width="15%" value="@item.CategorySQLModel.category_id">@item.CategorySQLModel.category_name</td>
                                    <td class="stu_des" width="50%">@item.item_name @item.size @item.brand @item.color @item.version</td>
                                    <td class="stu_status " width="5%" style="color:@(item.status? "Green": "Red")">  @(item.status ? "ใช้งาน": "ไม่ใช้")  </td>
                                </tr>

                                i++;
                            } }



                    </tbody>
                </table>






                <!--------------------------------------------------------------------------------------------------------------------------------------------------------->
                <!-- end widget -->

            </article>
            <!-- WIDGET END -->

        </div>

        <!-- end row -->
        <!-- end row -->

    </section>
    <!-- end widget grid -->
    <!-- END MAIN CONTENT -->
    @*</div>*@
</div>









@section pagespecific {
    <script type="text/javascript">
        // DO NOT REMOVE : GLOBAL FUNCTIONS!




        $(document).ready(function () {

            /* // DOM Position key index //

            l - Length changing (dropdown)
            f - Filtering input (search)
            t - The Table! (datatable)
            i - Information (records)
            p - Pagination (paging)
            r - pRocessing
            < and > - div elements
            <"#id" and > - div with an id
            <"class" and > - div with a class
            <"#id.class" and > - div with an id and class

            Also see: http://legacy.datatables.net/usage/features
            */


            /* BASIC ;*/
            var responsiveHelper_dt_basic = undefined;
            var responsiveHelper_datatable_fixed_column = undefined;
            var responsiveHelper_datatable_col_reorder = undefined;
            var responsiveHelper_datatable_tabletools = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            $('#dt_basic').dataTable({
                //"sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_dt_basic.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_dt_basic.respond();
                }
            });

            /* END BASIC */

            /* COLUMN FILTER  */
            var otable = $('#datatable_fixed_column').DataTable({
                //"bFilter": false,
                //"bInfo": false,
                //"bLengthChange": false
                //"bAutoWidth": false,
                //"bPaginate": false,
                //"bStateSave": true // saves sort state using localStorage
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_fixed_column) {
                        responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_fixed_column.respond();
                }

            });

            // custom toolbar
            $("div.toolbar").html('<div class="text-right"><img src="/Content/img/logo.png" alt="SmartAdmin" style="width: 111px; margin-top: 3px; margin-right: 10px;"></div>');

            // Apply the filter
            $("#datatable_fixed_column thead th input[type=text]").on('keyup change', function () {

                otable
                    .column($(this).parent().index() + ':visible')
                    .search(this.value)
                    .draw();

            });

            //////////////////////////////////////////////////////////////////////////////////////////

            //////////////////////////////////////////////////////////////////////////////////////////

            /* END COLUMN FILTER */

            /* COLUMN SHOW - HIDE */
            $('#datatable_col_reorder').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_col_reorder) {
                        responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_col_reorder.respond();
                }
            });

            /* END COLUMN SHOW - HIDE */

            /* TABLETOOLS */
            $('#datatable_tabletools').dataTable({

                // Tabletools options:
                //   https://datatables.net/extensions/tabletools/button_options
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "oTableTools": {
                    "aButtons": [
                        "copy",
                        "csv",
                        "xls",
                        {
                            "sExtends": "pdf",
                            "sTitle": "SmartAdmin_PDF",
                            "sPdfMessage": "SmartAdmin PDF Export",
                            "sPdfSize": "letter"
                        },
                        {
                            "sExtends": "print",
                            "sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
                        }
                    ],
                    "sSwfPath": "/Scripts/plugin/datatables/swf/copy_csv_xls_pdf.swf"
                },
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_tabletools) {
                        responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_tabletools.respond();
                }
            });

            /* END TABLETOOLS */

        })


    </script>

}
