@*@{
    List<CategorySQL> categorySQL = Model;
}*@
@{ 
    List<CategorySQL> categorySQL = Model;
}

<header class="cd-panel__header">
    <h1 style="color:#3276b1;">จัดการประเภทวัสดุ</h1>
    <a onclick="ClosePanel()" class="cd-panel__close js-cd-close">Close</a>
</header>
<div class="cd-panel__container">
    <div class="cd-panel__content">
        <div class="row" style="padding: 2.5px; "><a class="btn btn-success glyphicon glyphicon-plus" onclick="openmodalcreateC();">เพิ่มประเภทวัสดุ</a></div>
        <div class="table-responsive margin-top-10">
            <style>
                .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
                    background-color: #8adafe;
                }
            </style>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th align="right">#</th>
                        <th align="center">กลุ่ม</th>
                        <th>ประเภท</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in categorySQL)
                    {
                        <tr class="trid" id="@item.category_id" value="@item.category_id" onclick="openmodaleditC(this.id)">
                            <td class="stu_numrec" width="1%" align="right">@item.category_id</td>
                            <td class="stu_gid" width="2%" align="center" value="@item.group_id">@item.GroupModel.group_name</td>
                            <td class="stu_name" width="10%">@item.category_name</td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>



<script>

    function ClosePanel() {
        $(".cd-panel").removeClass("cd-panel--is-visible"); //ปิดแถบ right Panel
    }
    function openmodalcreateC() {
        $('#content_ajaxloader').show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("_createcategory", "Material")',
                dataType: 'html',
                data: {},
                success: function (result) {
                    $('#Modal_Content').html('');
                    $('#Modal_Content').html(result);
                    $('#Modal').modal('show');
                    $('#content_ajaxloader').hide();
                }
            });
    }

    function openmodaleditC(editidC) {
        console.log(editidC);
        var idedit = editidC;
        $('#content_ajaxloader').show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("_editcategory", "Material")',
                dataType: 'html',
                data: {id: idedit},
                success: function (result) {
                    $('#Modal_Content').html('');
                    $('#Modal_Content').html(result);
                    $('#Modal').modal('show');
                    $('#content_ajaxloader').hide();
                }
            });
    }


    function createC() {
        var inG = new Object();
        inG.group_id = document.getElementById("groupC").value;
        inG.category_name = document.getElementById("insertC").value;
        console.log(inG);
         $("#content_ajaxloader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("CreateCategory", "Material")',
            data: JSON.stringify(inG),
            contentType: "application/json; charset=utf-8",
            dataType: "json",

            success: function (response) {
                if (response.output != 1) {
                    alert('ชื่อประเภทวัสดุ มีบันทึกอยู่แล้ว');
                    document.getElementById("insertC").focus();
                    $("#content_ajaxloader").fadeOut("fast");
                    return;
                }
                console.log("insert complete");
                console.log(response.output1);

                $("#content_ajaxloader").fadeOut("fast");
                alert("บันทึกเรียบร้อย");
                $('#Modal').modal('hide');
                //window.location.href = "/material/";
                AddPanelcate();
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
         })

    }

    function updateC() {
        var inG = new Object();
        inG.category_id = document.getElementById("inputCid").value;
        inG.group_id = document.getElementById("groupC").value;
        inG.category_name = document.getElementById("insertC").value;

         $("#content_ajaxloader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateCategory", "Material")',
            data: JSON.stringify(inG),
            contentType: "application/json; charset=utf-8",
            dataType: "json",

            success: function (response) {

                if (response.output != 1 ){
                    alert('ชื่อประเภท มีบันทึกอยู่แล้ว');
                    document.getElementById("insertC").focus();
                    $("#content_ajaxloader").fadeOut("fast");
                    return;
                }
                console.log("insert complete");
                console.log(response.output1);

                $("#content_ajaxloader").fadeOut("fast");
                alert("บันทึกเรียบร้อย");
                $('#Modal').modal('hide');
                //window.location.href = "/material/";
                AddPanelcate();
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
         })

    }

      function deleteC() {
                         var dg = new Object();
          dg.category_id = document.getElementById("inputCid").value;
                          $("#content_ajaxloader").show();
                         $.ajax({
                             type: "POST",
                             url: '@Url.Action("DeleteCategory", "Material")',
                             data: JSON.stringify(dg) ,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        console.log("delete complete");
                        $("#content_ajaxloader").fadeOut("fast");
                        alert("ลบเรียบร้อย")
                        $('#Modal').modal('hide');
                        /*window.location.href = "/material";*/
                        AddPanelcate();
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                })
    }

</script>