@*@{
    List<CategorySQL> categorySQL = Model;
}*@
@{ 
    List<CategorySQL> categorySQL = Model;
}

<header class="cd-panel__header">
    <h1 style="color:#3276b1;">จัดการประเภทวัสดุ</h1>
    <a onclick="ClosePanel()" class="cd-panel__close js-cd-close">Close</a>
</header>
<div class="cd-panel__container">
    <div class="cd-panel__content">
        <div class="row" style="padding: 2.5px; "><a class="btn btn-success glyphicon glyphicon-plus" onclick="openmodalcreateC();">เพิ่มประเภทวัสดุ</a></div>
        <div class="table-responsive margin-top-10">
            <style>
                .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
                    background-color: #8adafe;
                }
            </style>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th align="right">#</th>
                        <th align="center">กลุ่ม</th>
                        <th>ประเภท</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in categorySQL)
                    {
                        <tr class="trid" id="@item.category_id" value="@item.category_id" onclick="openmodaleditC(this.id)">
                            <td class="stu_numrec" width="1%" align="right">@item.category_id</td>
                            <td class="stu_gid" width="2%" align="center" value="@item.group_id">@item.GroupModel.group_name</td>
                            <td class="stu_name" width="10%">@item.category_name</td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>



<script>

    function ClosePanel() {
        $(".cd-panel").removeClass("cd-panel--is-visible"); //ปิดแถบ right Panel
    }
    function openmodalcreateC() {
        $('#content_ajaxloader').show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("_createcategory", "Material")',
                dataType: 'html',
                data: {},
                success: function (result) {
                    $('#Modal_Content').html('');
                    $('#Modal_Content').html(result);
                    $('#Modal').modal('show');
                    $('#content_ajaxloader').hide();
                }
            });
    }

    function openmodaleditC(editidC) {
        console.log(editidC);
        var idedit = editidC;
        $('#content_ajaxloader').show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("_editcategory", "Material")',
                dataType: 'html',
                data: {id: idedit},
                success: function (result) {
                    $('#Modal_Content').html('');
                    $('#Modal_Content').html(result);
                    $('#Modal').modal('show');
                    $('#content_ajaxloader').hide();
                }
            });
    }

    function completesmartconfirmmessagebox(string = '', content) {
        $.smallBox({
            title: "กำลัง" + string,
            content: "<i class='fa fa-clock-o'></i> <i>" + content + "...</i>",
            color: "#659265",
            iconSmall: "fa fa-check fa-2x fadeInRight animated",
            timeout: 4000
        });
    }

    function smartconfirmmessagebox(string = '', callback) {
        $.SmartMessageBox({
            title: "Confirm!",
            content: "คุณต้องการ" + string + "หรือไม่",
            buttons: '[ไม่][ใช่]'
        }, function (ButtonPressed) {
            if (ButtonPressed === "ใช่") {

                //$.smallBox({
                //    title: "กำลัง" + string,
                //    content: "<i class='fa fa-clock-o'></i> <i>You pressed Yes...</i>",
                //    color: "#659265",
                //    iconSmall: "fa fa-check fa-2x fadeInRight animated",
                //    timeout: 4000
                //});
                callback();
                //true;
            }
            if (ButtonPressed === "ไม่") {
                $.smallBox({
                    title: "ยกเลิกบันทึกข้อมูล",
                    content: "<i class='fa fa-clock-o'></i> <i>You pressed No...</i>",
                    color: "#C46A69",
                    iconSmall: "fa fa-times fa-2x fadeInRight animated",
                    timeout: 10000
                });
                //false;
            }
        });
    }

    function MessageAlert(title, content, type = 1) {
        //if ()
            $.smallBox({
                title: title,
                content: content,
                color: color,
                iconSmall: iconSmall + "fa-2x fadeInRight animated",
                timeout: 2000
            });
    }

</script>