
@{
    MaterialSQLindex result = Model;
}

<div class="modal-content">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="headermanuC"> @(result.CategorySQL.category_id == 0 ? "สร้างประเภท" : "แก้ไขประเภท")</h4>
    </div>
    <div class="modal-body">
        <form align="center">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-align-right">
                    <label id="labelCid" class="margin-top-10" hidden>รหัสประเภท</label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 text-align-left">
                    <input type="hidden" id="inputCid" class="form-control" name="name" value="@result.CategorySQL.category_id" disabled />
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-align-right">
                    <label class="margin-top-10">ชื่อกลุ่ม</label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 text-align-left">
                    <select class="form-control" id="groupC" name="group" @(result.CategorySQL.category_id == 0 ? "" : "disabled")>
                        <option disabled value="0" selected>เลือกกลุ่มวัสดุ</option>
                        @foreach (var item in result.GroupSQLlist)
                        {
                            <option value="@item.group_id" @(result.CategorySQL.group_id == item.group_id ? "selected" : "")>@item.group_name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-align-right">
                    <label class="margin-top-10">ชื่อประเภท</label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 text-align-left">
                    <input type="text" class="form-control" id="insertC" name="insertC" value="@result.CategorySQL.category_name" @(result.CategorySQL.category_id != 0 ? "disabled" : "" ) />
                </div>
            </div>

            <div class="row margin-top-10">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-align-right">

                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 text-align-left">
                    <label class="checkbox-inline pull-left" style="display:@(result.CategorySQL.category_id  != 0 ? "inline" : "none");">
                        <input type="checkbox" id="status" class="checkbox style-0" value="@result.CategorySQL.active" @(result.CategorySQL.active ? "checked" : "") onclick="checkactiveC()">
                        <span>สถานะการใช้งาน</span>
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">

        <script>
            function smartconfirmmessageboxedit(stringY = '', stringN = '', callbackY, callbackN) {
                $.SmartMessageBox({
                    title: "Confirm!",
                    content: "คุณต้องการ" + stringY + "หรือไม่",
                    buttons: '[ไม่][ใช่]'
                }, function (ButtonPressed) {
                    if (ButtonPressed === "ใช่") {

                        //$.smallBox({
                        //    title: "กำลัง" + stringY,
                        //    content: "<i class='fa fa-clock-o'></i> <i>You pressed Yes...</i>",
                        //    color: "#659265",
                        //    iconSmall: "fa fa-check fa-2x fadeInRight animated",
                        //    timeout: 4000
                        //});
                        callbackY();
                        //true;
                    }
                    if (ButtonPressed === "ไม่") {
                        $.smallBox({
                            title: stringN,
                            content: "<i class='fa fa-clock-o'></i> <i>You pressed No...</i>",
                            color: "#C46A69",
                            iconSmall: "fa fa-times fa-2x fadeInRight animated",
                            timeout: 5000
                        });
                        callbackN();
                        //false;
                    }
                });
            }

            function checkactiveC() {
                var material = new Object();
                material.active = document.getElementById("status").checked;
                material.category_id = document.getElementById("inputCid").value;
                console.log(material.active)
                smartconfirmmessageboxedit("เปลี่ยนสถานะการใช้งาน", "ยกเลิกเปลี่ยนสถานะ",
                    function callbackY() {
                        console.log("to do update active");
                        updatecategoryactive(material);
                    },
                    function callbackN() {
                        canceleditcallback();
                    });
                //smartconfirmmessagebox("เปลี่ยนสถานะการใช้งาน", function () {
                //    console.log("to do update active");
                //    updategroupactive(material);
                //});
            }
            function updatecategoryactive(material) {
                 $("#content_ajaxloader").show();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdateCategoryActive", "Material")',
                    data: JSON.stringify(material),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response.output != 1) {
                            //alert('ชื่อกลุ่มวัสดุ มีบันทึกอยู่แล้ว');
                            //warningmartconfirmmessagebox(document.getElementById("headermanu").textContent, "ชื่อกลุ่มวัสดุ มีบันทึกอยู่แล้ว");
                            //$("#content_ajaxloader").fadeOut("fast");
                            //return;
                        }
                        console.log("insert complete");
                        console.log(response.output);

                        completesmartconfirmmessagebox("เปลี่ยนสถานะการใช้งาน","เปลี่ยนสถานะสำเร็จ")

                        $("#content_ajaxloader").fadeOut("fast");
                        //alert("บันทึกเรียบร้อย");
                        $('#Modal').modal('hide');

                        showunactiveC();
                        //AddPanelcate();
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                 })
            }
        </script>

        <button id="createbtn" class="btn btn-lg btn-labeled btn-success " style="display:@(result.CategorySQL.category_id == 0 ? "inline" : "none");" onclick="confirmandsaveC()">
            <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>สร้าง
        </button>
        <button id="editbtn" class="btn btn-lg btn-labeled btn-warning margin-right-5 " style="display:@(result.CategorySQL.category_id != 0 ? "inline" : "none");" onclick="editopen()"><span class="btn-label"><i class="glyphicon glyphicon-pencil"></i></span>แก้ไข</button>
        <button id="delebtn" class="btn btn-lg btn-labeled btn-danger margin-right-5 " style="display: @(result.CategorySQL.category_id != 0 ? "inline" : "none");" onclick="confirmanddeleteC()"><span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span>ลบ</button>
        <button id="savebtn" class="btn btn-lg btn-labeled btn-success margin-right-5 " style="display:none;" onclick="confirmandupdateC()"><span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>บันทึก</button>
        <button id="cacelbtn" class="btn btn-lg btn-labeled btn-danger margin-right-5" style="display:none" @*onclick="caceledit()"*@ onclick="canceleditcallback()"><span class="btn-label"><i class="glyphicon glyphicon-repeat"></i></span>ยกเลิก</button>

        <button id="backbtn" class="btn btn-lg btn-labeled btn-info margin-right-5" data-dismiss="modal"><span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>กลับ</button>
        @* sssssssssssssssssssssssssssssssssssssssssssssssssss *@

        @*<button type="button" class="btn-lg btn-danger margin-right-5" data-dismiss="modal" style="display: @(result.group_id == 0 ? "inline" : "none");">กลับ</button>*@
    </div>
</div>

<script>
    function canceleditcallback() {
        var id = document.getElementById("inputCid").value;
        console.log(id);
        $('#content_ajaxloader').show();
        $.ajax({
            type: "POST",
            url:'@Url.Action("_editcategory", "Material")',
                dataType: 'html',
            data: { id: id},
                success: function (result) {
                    $('#Modal_Content').html('');
                    $('#Modal_Content').html(result);
                    $('#Modal').modal('show');
                    $('#content_ajaxloader').hide();
                }
        })
    }
</script>

<script>
    function editopen() {
        document.getElementById("editbtn").style.display = "none";
        document.getElementById("delebtn").style.display = "none";
        document.getElementById("savebtn").style.display = "inline";
        document.getElementById("cacelbtn").style.display = "inline";
        document.getElementById("insertC").disabled = false;
        document.getElementById("inputCid").setAttribute('type', 'text');
        document.getElementById("labelCid").hidden = false;
        document.getElementById("groupC").disabled = false;
        document.getElementById('status').removeAttribute("onclick");
        document.getElementById("backbtn").style.display = "none";
    }

    function caceledit() {
        document.getElementById("cacelbtn").style.display = "none"
        document.getElementById("savebtn").style.display = "none";
        document.getElementById("editbtn").style.display = "inline";
        document.getElementById("delebtn").style.display = "inline";
        document.getElementById("insertC").disabled = true;
        document.getElementById("inputCid").setAttribute('type', 'hidden');
        document.getElementById("labelCid").hidden = true;
        document.getElementById("groupC").disabled = true;
        document.getElementById("status").disabled = false;
    }

    function confirmandsaveC() {
        var inGC = new Object();
        inGC.group_id = document.getElementById("groupC").value;
        inGC.category_name = document.getElementById("insertC").value;
        if (inGC.group_id == "0") {
            //alert("โปรดระบุข้อมูลกลุ่ม");
            warningmartconfirmmessagebox(document.getElementById("headermanuC").textContent, "โปรดระบุข้อมูลกลุ่ม");
            document.getElementById("groupC").focus();
            return;
        }
        if (inGC.category_name == "") {
            //alert("โปรดระบุข้อมูลประเภท");
            warningmartconfirmmessagebox(document.getElementById("headermanuC").textContent, "โปรดระบุข้อมูลประเภท");
            document.getElementById("insertC").focus();
            return;
        }
        var headermanu = document.getElementById("headermanuC")
        console.log(headermanu.textContent);
        smartconfirmmessagebox(headermanu.textContent, function () {
            console.log("DO FUNCTION callback");
            createC();
        })
    }

     function createC() {
        var inG = new Object();
        inG.group_id = document.getElementById("groupC").value;
        inG.category_name = document.getElementById("insertC").value;
        console.log(inG);
         $("#content_ajaxloader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("CreateCategory", "Material")',
            data: JSON.stringify(inG),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.output != 1) {
                    //alert('ชื่อประเภทวัสดุ มีบันทึกอยู่แล้ว');
                    warningmartconfirmmessagebox(document.getElementById("headermanuC").textContent, 'ชื่อประเภทวัสดุ มีบันทึกอยู่แล้ว');
                    document.getElementById("insertC").focus();
                    $("#content_ajaxloader").fadeOut("fast");
                    return;
                }
                console.log("insert complete");
                console.log(response.output);
                $("#content_ajaxloader").fadeOut("fast");
                completesmartconfirmmessagebox(document.getElementById("headermanuC").textContent, "สร้างประเภทสำเร็จ");
                //alert("บันทึกเรียบร้อย");
                $('#Modal').modal('hide');
                //window.location.href = "/material/";
                AddPanelcate();
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
         })
    }


    function confirmandupdateC() {
        var inGC = new Object();
        inGC.group_id = document.getElementById("groupC").value;
        inGC.category_name = document.getElementById("insertC").value;
        if (inGC.group_id == "0") {
            //alert("โปรดระบุข้อมูลกลุ่ม");
            warningmartconfirmmessagebox(document.getElementById("headermanuC").textContent, "โปรดระบุข้อมูลกลุ่ม");
            document.getElementById("groupC").focus();
            return;
        }
        if (inGC.category_name == "") {
            //alert("โปรดระบุข้อมูลประเภท");
            warningmartconfirmmessagebox(document.getElementById("headermanuC").textContent, "โปรดระบุข้อมูลประเภท");
            document.getElementById("insertC").focus();
            return;
        }
        var headermanu = document.getElementById("headermanuC")
        console.log(headermanu.textContent);
        smartconfirmmessagebox(headermanu.textContent, function () {
            console.log("DO FUNCTION callback");
            updateC();
        });
    }

      function updateC() {
        var inG = new Object();
        inG.category_id = document.getElementById("inputCid").value;
        inG.group_id = document.getElementById("groupC").value;
          inG.category_name = document.getElementById("insertC").value;
          inG.active = document.getElementById("status").checked;
         $("#content_ajaxloader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateCategory", "Material")',
            data: JSON.stringify(inG),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.output != 1 ){
                    //alert('ชื่อประเภท มีบันทึกอยู่แล้ว');
                    warningmartconfirmmessagebox(document.getElementById("headermanu").textContent, 'ชื่อประเภท มีบันทึกอยู่แล้ว');
                    document.getElementById("insertC").focus();
                    $("#content_ajaxloader").fadeOut("fast");
                    return;
                }
                console.log("insert complete");
                console.log(response.output);
                completesmartconfirmmessagebox(document.getElementById("headermanuC").textContent, "บันทึกเรียบร้อย");
                $("#content_ajaxloader").fadeOut("fast");
                //alert("บันทึกเรียบร้อย");
                $('#Modal').modal('hide');

                showunactiveC();
                //AddPanelcate();
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
         })
    }

    function confirmanddeleteC() {
        smartconfirmmessagebox("ลบข้อมูลประเภท", function () {
            console.log("DO FUNCTION callback");
            deleteC();
        });
    }

      function deleteC() {
                         var dg = new Object();
                         dg.category_id = document.getElementById("inputCid").value;
                          $("#content_ajaxloader").show();
                         $.ajax({
                             type: "POST",
                             url: '@Url.Action("DeleteCategory", "Material")',
                             data: JSON.stringify(dg) ,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                             success: function (response) {
                                 console.log(response);
                                 if (response.output.check == "checkitem") {
                                     console.log(response.output.check)
                                     console.log(response.output.row)
                                     warningmartconfirmmessagebox("ไม่สามารถลบได้", "มี " + response.output.row + "วัสดุ ที่ใช้งานประเภทนี้อยู่")
                                     $("#content_ajaxloader").fadeOut("fast");
                                     return;
                                 }
                        console.log("delete complete");
                        $("#content_ajaxloader").fadeOut("fast");
                        completesmartconfirmmessagebox("ลบข้อมูล", "ลบประเภทสำเร็จ");
                        //alert("ลบเรียบร้อย")
                        $('#Modal').modal('hide');

                        showunactiveC();
                        //AddPanelcate();
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                })
    }

</script>