@{
    GroupSQL result = Model;
}

<div class="modal-content">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="headermanu">@(result.group_id == 0 ? "สร้างกลุ่ม" : "แก้ไขกลุ่ม")</h4>
    </div>
    <div class="modal-body">
        <form align="center">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-align-right">
                    <label id="labelGid" class="margin-top-10" hidden>รหัสกลุ่ม</label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 text-align-left">
                    <input type="hidden" id="inputGid" class="form-control" name="name" value="@result.group_id" disabled />
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-align-right">
                    <label class="margin-top-10">ชื่อกลุ่ม</label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 text-align-left">
                    <input type="text" class="form-control" id="insertG" name="insertG" value="@result.group_name" @(result.group_id != 0 ? "disabled" : "" ) />
                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" id="createbtn" class="btn-lg btn-success margin-right-5 " style="display:@(result.group_id == 0 ? "inline" : "none");" onclick="confirmandsaveG()">สร้าง</button>
        <button type="button" id="editbtn" class="btn-lg btn-warning margin-right-5 " style="display:@(result.group_id != 0 ? "inline" : "none");" onclick="editopen()">แก้ไข</button>
        <button type="button" id="delebtn" class="btn-lg btn-danger margin-right-5 " style="display: @(result.group_id != 0 ? "inline" : "none");" onclick="confirmanddeleteG()">ลบ</button>
        <button type="button" id="savebtn" class="btn-lg btn-success margin-right-5 " style="display:none;" onclick="confirmandupdateG()">บันทึก</button>
        <button type="button" id="cacelbtn" class="btn-lg btn-danger margin-right-5" style="display:none" onclick="caceledit()">ยกเลิก</button>
        @*<button type="button" class="btn-lg btn-danger margin-right-5" data-dismiss="modal" style="display: @(result.group_id == 0 ? "inline" : "none");">กลับ</button>*@
    </div>
</div>




<style>
    .validgroup {
        border-color:red;
    }
</style>
<script>
    function editopen() {
        document.getElementById("editbtn").style.display = "none";
        document.getElementById("delebtn").style.display = "none";
        document.getElementById("savebtn").style.display = "inline";
        document.getElementById("cacelbtn").style.display = "inline";
        document.getElementById("insertG").disabled = false;
        document.getElementById("inputGid").setAttribute('type', 'text');
        document.getElementById("labelGid").hidden = false;

    }

    function caceledit() {
        document.getElementById("cacelbtn").style.display = "none"
        document.getElementById("savebtn").style.display = "none";
        document.getElementById("editbtn").style.display = "inline";
        document.getElementById("delebtn").style.display = "inline";
        document.getElementById("insertG").disabled = true;
        document.getElementById("inputGid").setAttribute('type', 'hidden');
        document.getElementById("labelGid").hidden = true;
    }

    function confirmandsaveG() {
        var inGC = new Object();
        inGC.group_name = document.getElementById("insertG").value;
        if (inGC.group_name == "") {
            alert("โปรดระบุข้อมูล");
            document.getElementById("insertG").className += " validgroup";
            document.getElementById("insertG").focus();
            return;
        }
        document.getElementById("insertG").classList.remove("validgroup")
        var headermanu = document.getElementById("headermanu")
        console.log(headermanu.textContent);
        smartconfirmmessagebox(headermanu.textContent, function () {
            console.log("DO FUNCTION callback");
            createG();
        }
        )
        //var confirm = smartconfirmmessagebox();
        //if (confirm == false) {
        //    console.log("11111111111111111111111111")
        //    return;
        //}

         @*$('#content_ajaxloader').show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("_comfirmgroup", "Material")',
                dataType: 'html',
                data: {},
                success: function (result) {
                    $('#Modal_Content_confirm').html('');
                    $('#Modal_Content_confirm').html(result);
                    ///load

                    $('#Modalconfirm').modal('show');
                    $('#content_ajaxloader').hide();
                }
            });*@
        //var output = smartconfirmmessagebox(document.getElementById("createbtn").id, createG())
        //console.log("333333333333333333333")
        //console.log(output);
    }

    function createG() {
        var inG = new Object();
        inG.group_name = document.getElementById("insertG").value;
        console.log(inG);
         $("#content_ajaxloader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("CreateGroup", "Material")',
            data: JSON.stringify(inG),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.output != 1) {
                    alert('ชื่อกลุ่มวัสดุ มีบันทึกอยู่แล้ว');
                    document.getElementById("insertG").focus();
                    $("#content_ajaxloader").fadeOut("fast");
                    return;
                }
                console.log("insert complete");
                console.log(response.output);

                completesmartconfirmmessagebox(document.getElementById("headermanu").textContent,"โหลดข้อมูล");

                $("#content_ajaxloader").fadeOut("fast");
                //alert("บันทึกเรียบร้อย");
                $('#Modal').modal('hide');
                //window.location.href = "/material/";
                AddPanel();
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
         })

    }


    function confirmandupdateG() {
        var inGC = new Object();
        inGC.group_name = document.getElementById("insertG").value;
        if (inGC.group_name == "") {
            alert("โปรกระบุข้อมูล");
            document.getElementById("insertG").focus();
            return;
        }
        var headermanu = document.getElementById("headermanu")
        console.log(headermanu.textContent);
        smartconfirmmessagebox(headermanu.textContent, function () {
            console.log("DO FUNCTION callback");
            updateG();
        }
        )
    }

    function updateG() {
        var inG = new Object();
        inG.group_id = document.getElementById("inputGid").value;
        inG.group_name = document.getElementById("insertG").value;
         $("#content_ajaxloader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateGroup", "Material")',
            data: JSON.stringify(inG),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.output != 1) {
                    alert('ชื่อกลุ่มวัสดุ มีบันทึกอยู่แล้ว');
                    document.getElementById("insertG").focus();
                    $("#content_ajaxloader").fadeOut("fast");
                    return;
                }
                console.log("insert complete");
                console.log(response.output);
                completesmartconfirmmessagebox(document.getElementById("headermanu").textContent, "โหลดข้อมูล");
                $("#content_ajaxloader").fadeOut("fast");
                //alert("บันทึกเรียบร้อย");
                $('#Modal').modal('hide');
                //window.location.href = "/material/";
                AddPanel();
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
         })

    }

    function confirmanddeleteG() {

        smartconfirmmessagebox("ลบข้อมูลกลุ่ม", function () {
            console.log("DO FUNCTION callback");
            deleteG();
        }
        )
    }

    function deleteG() {
                         var dg = new Object();
                         dg.group_id = document.getElementById("inputGid").value;
                          $("#content_ajaxloader").show();
                         $.ajax({
                             type: "POST",
                             url: '@Url.Action("DeleteGroup", "Material")',
                             data: JSON.stringify(dg) ,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        console.log("delete complete");
                        completesmartconfirmmessagebox("ลบข้อมูลกลุ่ม", "โหลดข้อมูล");
                        $("#content_ajaxloader").fadeOut("fast");
                        //alert("ลบเรียบร้อย")
                        $('#Modal').modal('hide');
                        AddPanel();
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                })
    }
</script>