@{ 
    List<GroupSQL> groupSQL = Model;
}

<header class="cd-panel__header">
    <h1 style="color:#3276b1;">จัดการกลุ่มวัสดุ</h1>
    <a onclick="ClosePanel()" class="cd-panel__close js-cd-close">Close</a>
</header>
<div class="cd-panel__container">
    <div class="cd-panel__content">
        <div class="row" style="padding: 2.5px; "><a  class="btn btn-success glyphicon glyphicon-plus" onclick="openmodalcreate();">เพิ่มวัสดุใหม่</a></div>
        <div class="table-responsive margin-top-10">
            <style>
                .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
                    background-color: #8adafe;
                }
            </style>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th align="right">#</th>
                        <th>ชื่อกลุ่ม</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in groupSQL)
                    {
                        <tr class="trid" id="@item.group_id" value="@item.group_id" onclick="openmodaledit(this.id)">
                            <td class="stu_numrec" width="1%" align="right">@item.group_id</td>
                            <td class="stu_name" width="10%">@item.group_name</td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>



<script>

    function ClosePanel() {
        $(".cd-panel").removeClass("cd-panel--is-visible"); //ปิดแถบ right Panel
    }
    function openmodalcreate() {
        $('#content_ajaxloader').show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("_creategroup", "Material")',
                dataType: 'html',
                data: {},
                success: function (result) {
                    $('#Modal_Content').html('');
                    $('#Modal_Content').html(result);
                    $('#Modal').modal('show');
                    $('#content_ajaxloader').hide();
                }
            });
    }

    function openmodaledit(editidG) {
        console.log(editidG);
        var idedit = editidG;
        $('#content_ajaxloader').show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("_editgroup", "Material")',
                dataType: 'html',
                data: {id: idedit},
                success: function (result) {
                    $('#Modal_Content').html('');
                    $('#Modal_Content').html(result);
                    $('#Modal').modal('show');
                    $('#content_ajaxloader').hide();
                }
            });
    }


    function createG() {
        var inG = new Object();
        inG.group_name = document.getElementById("insertG").value;
        console.log(inG);
         $("#content_ajaxloader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("CreateGroup", "Material")',
            data: JSON.stringify(inG),
            contentType: "application/json; charset=utf-8",
            dataType: "json",

            success: function (response) {
                if (response.output != 1) {
                    alert('ชื่อกลุ่มวัสดุ มีบันทึกอยู่แล้ว');
                    document.getElementById("insertG").focus();
                    $("#content_ajaxloader").fadeOut("fast");
                    return;
                }
                console.log("insert complete");
                console.log(response.output1);

                $("#content_ajaxloader").fadeOut("fast");
                alert("บันทึกเรียบร้อย");
                $('#Modal').modal('hide');
                //window.location.href = "/material/";
                AddPanel();
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
         })

    }

    function updateG() {
        var inG = new Object();
        inG.group_id = document.getElementById("inputGid").value;
        inG.group_name = document.getElementById("insertG").value;

         $("#content_ajaxloader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateGroup", "Material")',
            data: JSON.stringify(inG),
            contentType: "application/json; charset=utf-8",
            dataType: "json",

            success: function (response) {
                if (response.output != 1) {
                    alert('ชื่อกลุ่มวัสดุ มีบันทึกอยู่แล้ว');
                    document.getElementById("insertG").focus();
                    $("#content_ajaxloader").fadeOut("fast");
                    return;
                } 
              
                console.log("insert complete");
                console.log(response.output1);

                $("#content_ajaxloader").fadeOut("fast");
                alert("บันทึกเรียบร้อย");
                $('#Modal').modal('hide');
                //window.location.href = "/material/";
                AddPanel();
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
         })

    }

      function deleteG() {
                         var dg = new Object();
                         dg.group_id = document.getElementById("inputGid").value;
                          $("#content_ajaxloader").show();
                         $.ajax({
                             type: "POST",
                             url: '@Url.Action("DeleteGroup", "Material")',
                             data: JSON.stringify(dg) ,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        console.log("delete complete");
                        $("#content_ajaxloader").fadeOut("fast");
                        alert("ลบเรียบร้อย")
                        $('#Modal').modal('hide');
                        /*window.location.href = "/material";*/
                        AddPanel();
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                })
    }

</script>