@{
    List<GroupSQL> groupSQL = Model;
}



<header class="cd-panel__header">
    <h1 style="color:#3276b1;">จัดการกลุ่มวัสดุ</h1>
    <a onclick="ClosePanel()" class="cd-panel__close js-cd-close">Close</a>
</header>
<div class="cd-panel__container">
    <div class="cd-panel__content">
        <div class="row margin-left-10">
            <div class="row col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <a class="btn btn-success glyphicon glyphicon-plus" onclick="openmodalcreate();">เพิ่มวัสดุใหม่</a>
            </div>

            <div class="row col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-left-15 margin-right-0 pull-right">
                <label class="checkbox-inline ">
                    <input type="checkbox" id="statustable" class="checkbox style-0" onclick="showunactive()">
                    <span>แสดงรายการยกเลิกใช้งาน</span>
                </label>
            </div>
        </div>

        <div class="table-responsive margin-top-10">
            <style>
                .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
                    background-color: #8adafe;
                }
            </style>

            <div id="partialtablegroup"></div>
            @*<table id="dt_basic" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th align="right">#</th>
                            <th>ชื่อกลุ่ม</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in groupSQL)
                        {
                            <tr class="trid" id="@item.group_id" value="@item.group_id" onclick="openmodaledit(this.id)">
                                <td class="stu_numrec" width="1%" align="right">@item.group_id</td>
                                <td class="stu_name" width="10%">@item.group_name</td>

                            </tr>
                        }

                    </tbody>
                </table>*@
        </div>
    </div>
</div>

<script>
            function showunactive() {
                var statustable = document.getElementById("statustable").checked;
                console.log(statustable)
                if (statustable == false) {
                    statustable = true;
                } else if (statustable == true) {
                    statustable = false;
                }
                $("#content_ajaxloader").show();
                console.log(statustable+"111111111111")
                $("#partialtablegroup").load('@Url.Action("_grouptable", "Material")', { active: statustable }, function (result) {
                    //MessageAlert("การค้นหา", "กำลังโหลดข้อมูล", "rgb(115, 158, 115)", "fa fa-check fadeInLeft animated");
                $('#content_ajaxloader').fadeOut();
            });

                @*$("#partialtablegroup").load('@Url.Action("_grouptable", "Material")', { active: statustable }, function (result) {
                        MessageAlert("การค้นหา", "กำลังโหลดข้อมูล", "rgb(115, 158, 115)", "fa fa-check fadeInLeft animated");
                        $('#content_ajaxloader').fadeOut();
                    });*@
            }
</script>

<script>
    function smartconfirmmessagebox111111111(tagid) {
        $(tagid).click(function (e) {
            var o = null;
            $.SmartMessageBox({
                title: "Confirm!",
                content: "คุณต้องการบันทึกข้อมูลหรือไม่",
                buttons: '[ไม่][ใช่]'
            }, function (ButtonPressed) {
                var o = null;

                if (ButtonPressed === "ใช่") {

                    $.smallBox({
                        title: "กำลังบักทึกข้อมูล",
                        content: "<i class='fa fa-clock-o'></i> <i>You pressed Yes...</i>",
                        color: "#659265",
                        iconSmall: "fa fa-check fa-2x fadeInRight animated",
                        timeout: 5000
                    });
                    o = true;
                    console.log(o + "o true")
                    //true;
                }
                if (ButtonPressed === "ไม่") {
                    $.smallBox({
                        title: "ยกเลิกบันทึกข้อมูล",
                        content: "<i class='fa fa-clock-o'></i> <i>You pressed No...</i>",
                        color: "#C46A69",
                        iconSmall: "fa fa-times fa-2x fadeInRight animated",
                        timeout: 5000
                    });
                    console.log("2222222222222222222")
                    o = false;
                    console.log(o + "o falsr")
                    //false;
                }
                console.log(o + "o return")
                //return o;

            });
            console.log(o + "o out")
            //event.preventDefault();
            e.preventDefault();
        })
    }

    function ClosePanel() {
        $(".cd-panel").removeClass("cd-panel--is-visible"); //ปิดแถบ right Panel
    }
    function openmodalcreate() {
        $('#content_ajaxloader').show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("_creategroup", "Material")',
                dataType: 'html',
                data: {},
                success: function (result) {
                    $('#Modal_Content').html('');
                    $('#Modal_Content').html(result);
                    $('#Modal').modal('show');
                    $('#content_ajaxloader').hide();
                }
            });
    }

    function openmodaledit(editidG) {
        console.log(editidG);
        var idedit = editidG;
        $('#content_ajaxloader').show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("_editgroup", "Material")',
                dataType: 'html',
                data: {id: idedit},
                success: function (result) {
                    $('#Modal_Content').html('');
                    $('#Modal_Content').html(result);
                    $('#Modal').modal('show');
                    $('#content_ajaxloader').hide();
                }
            });
    }

</script>


    <script type="text/javascript">
        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {

            console.log("ready1!");
            showunactive();
        })

    </script>

